[2017-10-04 12:52] cyrilchandelier commented on #343
Creating a new view controller was a workaround to avoid my whole login module to be dismissed once the Phone Auth was completed, for some reason it was doing that.

Anyway, if there is no other person reporting this bug, it's probably coming from that, or something else in my setup; but I have no time to check it now that I've totally replace the FirebaseUI phone auth with a custom implementation

[2017-10-04 16:17] XiangtianDai commented on #333
@hash3r I assume that you're already using the reCAPTCHA fallback given it works for you on simulator, correct? Is the issue on devices always reproducible? If so, it probably means the your app's APNs setup does not match the configuration on the Firebase Console. Please make sure the iOS app in the Firebase Console (the one you downloaded GoogleService-Info.plist from) declares the same bundle I

[2017-10-04 17:12] asifbilal786 commented on #333
My problem is solved. I was using 'FirebaseUI/iPhone' 4.2 version. When I updated the version to 4.4. It worked.

[2017-10-04 19:07] yramanchuk commented on #310
I've fixed situation when the only available provider was shown from modal view controller.
In the described situation we were closing initial controller: it should be fixed in FirebaseUI 4.3.2

[2017-10-04 19:21] yramanchuk commented on #312
Issue was fixed in the latest FirebaseUI version

[2017-10-04 19:21] #312 closed

[2017-10-05 16:48] eirikvaa commented on #311
**Update**: It seems that the problem has been fixed by removing CocoaPods from the project and reinstalling it. I got this bug earlier, and fixed it by doing the same thing I did now. This bugs me, because I have no idea what caused this.

[2017-10-06 06:08] ManishaQw opened #348 "When trying to send OTP so give this error"
error: Error Domain=FIRAuthErrorDomain Code=17999 "An internal error has occurred, print and inspect the error details for more information." UserInfo={error_name=ERROR_INTERNAL_ERROR, NSLocalizedDescription=An internal error has occurred, print and inspect the error details for more information., NSUnderlyingError=0x1c465f380 {Error Domain=FIRAuthInternalErrorDomain Code=3 "(null)" UserInfo={FIRA

[2017-10-06 14:36] unittesting0 commented on #346
@morganchen12
[code]

And I'm getting these 24 errors:

https://i.imgur.com/3kC8tHx.png

[2017-10-06 17:18] morganchen12 commented on #346
@unittesting0 can you expand those errors and paste them here or share a project that reproduces the issue? What CocoaPods and Xcode versions are you using?

[2017-10-06 21:03] yramanchuk commented on #341
Updated FirebaseUI project and UI tests

[2017-10-06 21:03] #341 closed

[2017-10-06 21:12] yramanchuk commented on #338
@mickychen0524 Can you please provide required information? Just read information when you hit "new issue").

Do you mean that `SFSafariViewController`(SFSVC) with reCAPTCHA is not closed after you select vehicles or just another SFSVC is shown? When reCAPTCHA was not solved properly you will be asked to solve another one and it will happen until you solve it properly. Only after that SFSVC will b

[2017-10-06 21:25] protocol86 commented on #348
Hi @ManishaQw,

We are looking into this internal error, was it triggered while trying to sign in with Phone Number?

-Z

[2017-10-06 21:34] yramanchuk commented on #345
I guess that problem is that you are creating to instances of `FUIPhoneAuth`
First one here:

Second here:

You can use this sample to sign in with Phone Auth:

[code]
[code]

BTW, if you are not doing anything else in `didRegisterForRemoteNotificationsWithDeviceToken` and `didReceiveRemoteNotification` that just delete them: FirebaseAuth with dynamically add that code for you.

@sidjdev Please le

[2017-10-06 23:32] yramanchuk commented on #330
@anup2812013 Thanks for you report.
I've fixed loading of country code.

Unfortunately I can't reproduce your issue with keyboard.
@anup2812013 Can you please provide more detailed steps about that case (preferably on the latest FirebaseUI version) and info how you're calling phone auth.

@morganchen12 Yes, resigning first responder should help, but entire controller is dismissed, so we should hid

[2017-10-07 04:46] dilizarov opened #349 "Is it possible to remove the 'Sign in with Email' option?"
For my app, users only login through phone number. This was great on Digits, but now I'm migrating over. I don't really like the UX this offers so I might just rebuild Digits UX, but assuming I do use FirebaseUI, it doesn't seem like I can get rid of the Email sign-in option.

How do I remove this?

[2017-10-08 10:11] mickychen0524 commented on #338
@yramanchuk thanks for your explanation, it doesn't show on device

[2017-10-08 10:11] #338 closed

[2017-10-09 07:09] axelsoedarsono commented on #349
https://stackoverflow.com/questions/42344885/how-to-remove-sign-in-with-email-from-firebase-auth-in-objective-c @dilizarov

btw, r you migrating to firebase using objective c ??

im still confused how to implement it FirebasePhoneAuth, any suggestion or project example to implement in objective c ?? thanks in advance!

[2017-10-09 16:39] #349 closed

[2017-10-10 00:21] yramanchuk commented on #317
Fixed in FirebaseUI 4.3.2

[2017-10-10 00:21] #317 closed

[2017-10-10 04:10] axelsoedarsono opened #350 "Guide for implementing FirebasePhoneAuth on iOS Objective-C"
im still confuse how to implement it FirebasePhoneAuth, any suggestion or project example to implement in objective c ?? thanks in advance! and i already try on FirebaseUI sample project & quickstart sample from this documen also it is very different the component between inside the sample project and install the component using cocoaPods for example the component FUIPhoneEntryViewController and F

[2017-10-10 04:27] XiangtianDai commented on #350
@axelsoedarsono In the following line:
[code]
You're supposed to replace the empty string `@""` with the actual verification code entered by the user. It doesn't seem that you're using FirebasePhoneAuthUI for this purpose, so you'll need to display UI to collect the verification code from user yourself.

If you did intend to use FirebasePhoneAuthUI, then you don't need to call `credentialWithVerif

[2017-10-10 04:42] axelsoedarsono commented on #350
@XiangtianDai hi sir, thanks for your reply, right, i use @"" because of i can't collect the user's input,

also i when in insert phone number UI, i cant get the input number :

[code]

i always get null value while using  "user.phoneNumber" to get user's phonenumber input. what should i do sir ?

[2017-10-10 18:22] XiangtianDai commented on #350
@axelsoedarsono I see you're indeed using FirebaseUI, in which case you don't need to implement step 3 and 4 in https://firebase.google.com/docs/auth/ios/phone-auth , because these steps have already been implemented for you by FirebasePhoneAuthUI. Just use [FUIPhoneAuth](https://github.com/firebase/FirebaseUI-iOS/blob/master/FirebasePhoneAuthUI/FUIPhoneAuth.h), which should handle signing in for

[2017-10-11 02:59] axelsoedarsono commented on #350
@XiangtianDai Okay sir, i'll try again with only use [FUIPhoneAuth](https://github.com/firebase/FirebaseUI-iOS/blob/master/FirebasePhoneAuthUI/FUIPhoneAuth.h), but first don't close this thread, in case if there's another problem again, so i can post here . thank you sir @XiangtianDai.

[2017-10-12 13:02] Rupesh8055 opened #351 "FIRDatabaseQuery addSnapshotListener:]: unrecognized selector sent to instance 0x176aa9f0'"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-iOS/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-iOS/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If your issue concerns the Coco

[2017-10-12 13:03] Rupesh8055 commented on #351
getting error when chat is clicked

[2017-10-12 13:03] #351 closed

[2017-10-12 13:03] Rupesh8055 opened #352 "FIRDatabaseQuery addSnapshotListener:]: unrecognized selector sent to instance 0x176aa9f0'"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-iOS/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-iOS/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If your issue concerns the Coco

[2017-10-12 13:04] Rupesh8055 commented on #352
when chat is clicked getting this error

[2017-10-12 18:22] morganchen12 commented on #352
Can you share your code? It looks like you're trying to pass a Firebase Database query into FirestoreUI, but these two libraries are fundamentally incompatible (Database and Firestore are different products).

Please fill out the issue template, then re-open this issue.

[2017-10-12 18:22] #352 closed

[2017-10-12 21:21] murjax commented on #262
Can we reopen this issue? I'm having the same problem. When I call `displayName` on the Firebase user after sign up, it is null despite me providing one. Email is present so I don't understand why displayName is not. Thanks.

[2017-10-13 09:42] anup2812013 commented on #330
@yramanchuk I won't be able to reproduce it now as we have changed our app flow.

[2017-10-13 17:36] XiangtianDai commented on #277
@hunglb1985 Sorry for the late reply but I believe SMS to Vietnam should work now (actually for quite some time). Please let me know if you experience any further issue.

[2017-10-13 23:15] adornoventura opened #353 "FUIFirestoreCollectionViewDataSource Cannot convert value of type 'Query' to expected argument type 'DatabaseQuery'"
* Swift
  * iOS 10.3
  * Firebase SDK version: 4.3
  * FirebaseUI version: 4.4
  * CocoaPods Version: 1.2

### Describe the problem:

When using the FirebaseFirestoreUI CollectionView binding to bind a query the .bind method says it takes a parameter of type "Query", however, when building an error appears saying it cannot convert type "Query" to expected type of "DatabaseQuery". It seems as if so

[2017-10-14 00:28] morganchen12 commented on #353
The method signature is the same in both FirestoreUI and DatabaseUI. Can you check that you only have FirestoreUI installed (and imported) and not DatabaseUI?

The [header file](https://github.com/firebase/FirebaseUI-iOS/blob/master/FirebaseFirestoreUI/FUIFirestoreCollectionViewDataSource.h) seems to have the right types.

[2017-10-14 15:32] adornoventura commented on #353
I only had FirebaseFirestoreUI imported to that file but I still had the FirebaseDatabaseUI pod installed and it was causing it to look for the database method signature instead of the Firestore one. However, I thought the RTDB and Firestore could co-exist within one project? I had to completely remove the RTDB pods in order to clear up that error.

[2017-10-16 05:00] hunglb1985 commented on #277
Thank you @XiangtianDai I will test this now.

[2017-10-16 17:51] morganchen12 commented on #353
That was our original intention, but I messed up one of the selectors so it's no longer the case.

[2017-10-16 19:31] neerajpathak77 opened #354 "Localization is not working for firebase UI"
Localization for the Firebase phone UI is now working.
I am trying to pass the locale like below but it is having no effect

-(void) launchFireBasePhoneAuthUI {
    FUIAuth *auth = [FUIAuth defaultAuthUI];
    auth.delegate = self;
    FUIPhoneAuth *phoneAuth = [[FUIPhoneAuth alloc] initWithAuthUI:auth];
    auth.providers = @[phoneAuth];
    [FIRAuth auth].languageCode = @"he";
    [[FIRAuth auth

[2017-10-16 20:24] morganchen12 commented on #354
@yramanchuk what's the intended behavior here? Seems like we may have meant to make the property readonly.

FYI @neerajpathak77 if you hardcode the language code, it will break localization for all users except the ones whose language codes coincide with the one you're setting. If you want to test localizations, instead of setting the value in code you should set your device or simulator's languag

[2017-10-16 20:32] neerajpathak77 commented on #354
@morganchen12 I think you are correct but here the thing is if a user wants app specific language I mean to say if we need a functionality to change language from inside the application than there is no way out. I think we can use
[[[NSUserDefaults standardUserDefaults] objectForKey:@"AppleLanguages"] objectAtIndex:0]
rather than using  [NSBundle mainBundle].preferredLocalizations.firstObject. Thi

[2017-10-16 20:53] morganchen12 commented on #354
Setting app-specific language is discouraged since system dialogues (share sheet/action sheet, SFSafariViewController, etc) will use the device locale/language and not the manually coded language, leading to a disjoint user experience where they suddenly have to switch languages inside the app.

This seems like a relatively easily supported feature, but @yramanchuk and @isaisachen should decide if

[2017-10-17 06:36] GlebGer commented on #277
Hello, I have very strange problem.
On my phone firebase phone auth work correctly, but when I loaded .IPA files to another devices SMS didn't came?
Why can it happened?
Thanks in advance

[2017-10-17 16:48] XiangtianDai commented on #277
@GlebGer Does FirebaseAuth returns an error? or if you use FirebaseUI, did you see an error prompt?

[2017-10-17 20:10] GlebGer commented on #277
Yes, I get error "Invalid token". I changed APNs Certificates to APNs Authentication Key and its solved my problem.

Thanks for your answer anyway!

[2017-10-18 15:01] ghowen opened #355 "FUIFirestoreTableViewDataSource.h missing in current pod"
I got curious when Xcode did not recognize the FUIFirestoreTableViewDataSource type. Also code completion did not know this class.

Looking at the Pod in Xcode it seems that the header file for FUIFirestoreTableViewDataSource is missing:

![image](https://user-images.githubusercontent.com/390784/31725939-7ec4cbc2-b41d-11e7-8261-fbda2fbe6668.png)

[2017-10-18 17:38] morganchen12 commented on #355
Fixed in FirebaseUI v4.5.0.

Thanks for flagging!

[2017-10-18 17:38] #355 closed

[2017-10-18 17:39] morganchen12 commented on #353
This should be fixed now. The new selector for FirebaseFirestoreUI is `bindToFirestoreQuery:`

[2017-10-18 17:39] #353 closed

[2017-10-18 19:40] ghowen commented on #355
Thanks. The header file now shows, but there still seems to be a problem with the pod:
![image](https://user-images.githubusercontent.com/390784/31739012-5c68a96e-b444-11e7-8160-d7df6d24e20d.png)

[2017-10-18 20:03] morganchen12 commented on #355
Hmm, can you try clearing your Xcode/Cocoapods caches? The type seems to be correctly defined in the header file and there's nothing special that would prevent it from being recognized.

[code]

[2017-10-18 20:27] ghowen commented on #355
I tried both (as well cleaning project & build folder via Xcode) but the problem persists. Here is what Xcode can see with the FUI prefix:

![image](https://user-images.githubusercontent.com/390784/31740941-bac6e114-b44a-11e7-966e-aed719929223.png)

Any idea what this could be? Using Xcode 9 with a Swift 4 project.

[2017-10-18 20:43] morganchen12 commented on #355
Turns out I left out one of the headers in the umbrella header. This is fixed in the current release, but you'll have to clean pods cache again to re-download the binary from GitHub.

FirestoreUI needs a sample and a set of integration tests like the other issues to prevent stuff like this from happening; I'll file a new issue for that.

[2017-10-18 20:44] #346 closed

[2017-10-18 20:44] morganchen12 opened #356 "FirestoreUI Sample and Integration Tests"
These are missing, and should be added to demonstrate usage of the FirestoreUI library and ensure correctness.

[2017-10-18 21:20] ghowen commented on #355
Got it. It's working now. Thanks!

[2017-10-19 20:40] GlebGer commented on #277
Hello again!
I still have this problem.
I tested on different devices (3 iPhones and 1 iPad) and firebase phone auth worked great.
But apple reviewer had a crash after entering verification sms and tapping "done". Why could it happened?
I really have no idea what to do with this problem.

Reviewer send me crash report, can you look at this?
http://a1015.phobos.apple.com/us/r30/Purple118/v4/d5/fa/1

[2017-10-19 20:53] morganchen12 commented on #277
This is an unsymbolicated crash log, so it'll be prohibitively difficult for anyone to debug. Apple has some good docs on how to symbolicate crash logs [here](https://developer.apple.com/library/content/technotes/tn2151/_index.html#//apple_ref/doc/uid/DTS40008184-CH1-SYMBOLICATION).

EXC_BREAKPOINTs on device are most commonly caused by unsafe force-unwraps of optional types in Swift. Check that t

[2017-10-19 21:27] XiangtianDai commented on #277
@GlebGer In addition to what Morgan said, please note that FirebaseAuth 4.2.0 has a bug that for some error cases the completion block is not called back in the main thread, which may trigger a crash if the app uses UIKit directly in the completion block. Upgrading to FirebaseAuth 4.2.1 or above would solve this issue. (Or if you use FirebaseUI, FirebaseUI 4.3.1 or above).

[2017-10-19 21:47] GlebGer commented on #277
@XiangtianDai  Thanks, I'll try!

[2017-10-19 22:31] expertalex opened #357 "CRASH USING PRHONE AUTH"
When Using Phone Auth ONLY!

***
    [FUIAuth defaultAuthUI].delegate = self; // delegate should be retained by you!
    FUIPhoneAuth *phoneProvider = [[FUIPhoneAuth alloc] initWithAuthUI:[FUIAuth defaultAuthUI]];
    [FUIAuth defaultAuthUI].providers = @[phoneProvider];
***
    FUIPhoneAuth *provider = self.authUI.providers.firstObject;
    [provider signInWithPresentingViewController:self phoneN

[2017-10-19 22:45] morganchen12 commented on #357
Have you tried adding that URL scheme to your project? See [this doc](https://developers.google.com/identity/sign-in/ios/start-integrating) under 'Add a URL scheme to your project'.

[2017-10-19 22:45] #357 closed

[2017-10-20 06:18] GlebGer commented on #277
@XiangtianDai nothing helped.
1. I update pods.
2. I also deleted all lines of code beside sign up function

now code, where reviewer had crash look like this:

`    func handleLogIn(){

        let defaults = UserDefaults.standard

        if (codeTextField.text! == ""){
            return
        }

        if let credential: PhoneAuthCredential = PhoneAuthProvider.provider().credential(withVeri

[2017-10-20 17:42] morganchen12 commented on #277
@GlebGer you shouldn't be force-unwrapping `defaults.string(forKey: "authVID")` or `codeTextField.text`, as these are both not guaranteed to be nonnull.

[2017-10-21 15:58] elmateo487 commented on #346
@morganchen12  I think this is closed, but I am having the same issue. But the problem is I am not using Cocoapods, I manually linked everything using the guide here [https://firebase.google.com/docs/ios/setup](url). "Integrate without CocoaPods"

I am on Xcode 9.0.1, with a target of iOS 11.

So are the linked frameworks out of date? [https://firebase.google.com/download/ios](url) Firebase 4.4?

[2017-10-22 18:07] CoderXpert opened #358 "Phone authentication failing on iOS simulator."
### Step 2: Describe your environment

  * Swift: 3.2
  * iOS version: 11.0/10.3
  * Firebase SDK version: 4.4.0
  * FirebaseUI version: 4.5.0
  * CocoaPods Version: 1.2.0

### Step 3: Describe the problem:
Phone authentication is not working on simulator.
I have added the firebase_reverse_client_id in the url schemes, but keep getting following error.

[code]
#### Steps to reproduce:

Try to sign

[2017-10-23 11:30] ghowen opened #359 "FUIBatchedArray: How to differentiate between initial data and subsequent updates?"
When I observe a query in FUIBatchedArray, the delegate's batchedArray:didUpdateWithDiff: is called when the array is initially filled with data and for each subsequent update.

I would now like to know in the delegate if the array's inserts are the initial data or a subsequent update with an insert.

Is there a way to track this state of the FUIBatchedArray? If not, this might be a nice feature t

[2017-10-23 17:57] morganchen12 commented on #359
You can sort of do this currently by checking the [initial](https://github.com/firebase/FirebaseUI-iOS/blob/master/FirebaseFirestoreUI/FUISnapshotArrayDiff.h#L129) array in the diff information. If the array is empty, it's probably the initial update unless you've deleted everything in the collection and then re-inserted something.

What use case are you trying to accomplish?

[2017-10-23 18:00] morganchen12 commented on #346
@elmateo487 yours is a different issue than this one, and lies in upstream Firestore. I'm not sure what the timeline is for resolving it. Those warnings are harmless (though annoying), and you should be able to ignore them for now.

[2017-10-23 18:31] ghowen commented on #359
I was trying to implement pagination in a custom TableViewDataSource as I am working with large data sets (up to 10,000+ documents per collection) and I cannot afford (billing wise) for every user to read 1000+ records every time they open a table view.

For this I was monitoring inserts, deletes etc. in FUIBatchedArray to reflect the changes in the respective queries of pages (each page had its o

[2017-10-23 18:33] ghowen commented on #359
@morganchen12 But thanks for the hint with the initial array! I was briefly looking at the FUISnapshotArrayDiff class but was a bit overwhelmed by its magnitude ;)

[2017-10-23 18:52] morganchen12 commented on #359
Pagination doesn't work well with current FirestoreUI because it tries to keep every loaded item live-updating, which is not realistic for pagination of large sets. Ultimately we plan on enabling more simple scroll-to-refresh behavior (not necessarily pagination) by ditching the live-update constraint of all the already-loaded items, but it's unlikely that this lands before next year.

[2017-10-24 13:59] hamzahrmalik opened #360 "Can we customise the UINavigationBar"
If i try to change the colour using

self.navigationController?.navigationBar.tintColor

From within a custom FUIAuthPickerController

Nothing changes. Is some base class blocking this? Why?

[2017-10-24 19:24] ghowen commented on #359
Sounds great. I'll be looking forward to this. I refactored my paginated (or rather lazy loading) tableview datasource to use getDocuments instead of observing changes through FUIBatchedArray but this made the loading of the data feel "chunky" - there was nothing happening for a few secs and then the list filled "page by page".

Then inspired by your last reply I refactored again using FUIBatchedA

[2017-10-24 19:40] morganchen12 commented on #359
Yeah, ultimately my implementation of this feature was going to be something like that--a FUIBatchedArray that instead of listening to live updates would only request updates any time the user interacted with an item, producing failure cases for items that no longer existed or were renamed or something (and certain actions like moves could be ignored). This is a lot like how modern social media ap

[2017-10-25 16:36] sanchofox commented on #322
@martinc can you explain with more details how to fix this issue? I didn't understand the steps you did. If you can attach some images it would be perfect.

Thanks a lot

[2017-10-26 15:07] eirikvaa opened #361 "Presenting the authentication picker crashes the application"
### Step 1: Are you in the right place?
Ok, I *may* not be in the right place here, because I'm having trouble with FirebaseUI in my own code, and not code in this repository, but I'm out of options trying to debug my problem. I have debugged this issue for a long time and have asked on [Stack Overflow](https://stackoverflow.com/questions/46889505/firebaseui-crashes-when-attempting-to-show-auth-pi

[2017-10-26 18:18] morganchen12 commented on #361
Stepping through the exception (disable breakpoints and type continue in the debugger) should print out the full stack trace in console with the exception message, telling you what nib name the view controller wasn't able to find.

[2017-10-26 21:21] eirikvaa commented on #361
I removed all breakpoints, launched the application, tapped log in and the application crashed, as expected. Typed "continue" in the console, but the application just jumps to the `AppDelegate` and errors out with `Thread 1: signal SIGABRT` on the line `class AppDelegate: UIResponder, UIApplicationDelegate {`. The console just responds with `Process 2632 resuming`, but nothing happens. I'm not sur

[2017-10-26 21:25] morganchen12 commented on #361
Can you share a project?

[2017-10-26 21:41] eirikvaa commented on #361
This is a private, unreleased project I'm developing for a company. I got permission to share it with you, but I don't want to share it openly here. How should I share it with you?

[2017-10-26 21:42] morganchen12 commented on #361
You can email it to me at morganchen@google

[2017-10-26 22:07] eirikvaa commented on #361
I'm guessing you mean @google.com? Don't want to email the wrong person.

[2017-10-26 22:53] morganchen12 commented on #361
Looks like you're running into https://github.com/CocoaPods/CocoaPods/issues/6936. Setting the build system to use the standard (not the new build system preview), deleting DerivedData, and rebuilding fixes the issue.

For the time being you'll have to not use the new build system.

[2017-10-26 22:53] #361 closed

[2017-10-28 18:46] erezrokah opened #362 "Add an option to specify a custom cache key when using `sd_setImageWithStorageReference`"
Environment:
  * Objective C
  * iOS version: 11
  * Firebase SDK version: 4.3.0
  * FirebaseUI version: 4.1.1
  * CocoaPods Version: 1.3.1

Describe the problem:
`sd_setImageWithStorageReference` uses the storage path as the cache key.
As a result when storing a new image to the same storage path, the new image won't be loaded (the cached image will be loaded).

#### Steps to reproduce:

  1. Sto

[2017-10-30 16:21] morganchen12 commented on #362
related to #324

[2017-10-30 16:22] morganchen12 commented on #354
@neerajpathak77 we're not going to add this feature in the near future. I'll re-open this issue if the auth team reconsiders.

[2017-10-30 16:22] #354 closed

[2017-10-30 18:18] faizantariq1 commented on #277
hello,
There seem to be a problem in firebase phone authentication ...i get this message in the error statement...

PhoneAuthProvider.provider().verifyPhoneNumber(user.phone!) { (verificationID, error) in

                if let error = error {
                    print(error.localizedDescription)

                    Util.sharedInstance.popUpDisplayer(error.localizedDescription)
//

[2017-11-01 16:56] kendyx999x opened #363 "Kendyx999x"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-iOS/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-iOS/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If your issue concerns the Coco

[2017-11-01 17:01] #363 closed

[2017-11-01 18:36] morganchen12 commented on #348
Closing due to inactivity.

[2017-11-01 18:36] #348 closed

[2017-11-01 18:37] morganchen12 commented on #350
Closing due to inactivity. You can still post here if you have problems and I'll reopen the issue.

[2017-11-01 18:38] #330 closed

[2017-11-01 18:38] #318 closed

[2017-11-02 18:08] alijaza commented on #277
One thing to keep in mind that caused me a LOT of headache: TestFlight builds always use the production entitlement and must therefore also use the production cert an GoogleService-Info.plist files (in case you have separated production and development).

[2017-11-06 21:59] hongnk commented on #277
Posting this issue here since there is mention on sending sms verfication to Vietnam. Just confirm it is working now although just half a day earlier no message ever reached any phone in Vietnam.

Now this is weird: I sent 2 verifications to 2 different numbers and they receive 2 different templates, and none of them following the default template (%LOGIN_CODE% is your verification code for %APP_N

[2017-11-07 08:41] QUDUSKUNLE commented on #279
For firebase to Validate any phone number. The country prefix code has to be added.

[2017-11-09 18:03] BJGanesh commented on #299
@Tayphoon Can u tell what was the solution to the problem?

[2017-11-10 06:13] antonijap opened #365 "Customization"
Social login buttons have a controller that appears when you want it. Is it possible that these buttons are present immediately in my ie. 'LoginViewController'. I would like to have one screen for login so I am trying to find a way.

[2017-11-10 18:18] morganchen12 commented on #365
Not quite sure what you're requesting here. Would you like drop-in login buttons that can be used outside of the FirebaseUI Auth flow?

[2017-11-10 19:32] ulukaya commented on #298
Here's a more robust handling of the issue

`@IBAction func inviteTapped(_ sender: Any) {
    GIDSignIn.sharedInstance().clientID = FirebaseApp.app()?.options.clientID
    GIDSignIn.sharedInstance().scopes = ["https://www.googleapis.com/auth/userinfo.email", "https://www.googleapis.com/auth/userinfo.profile"]
    GIDSignIn.sharedInstance().uiDelegate = self
    GIDSignIn.sharedInstance().delegate

[2017-11-10 19:33] ulukaya commented on #298
Here's a more robust handling of the problem

[code]

[2017-11-10 20:27] antonijap commented on #365
Or is it possible to use it as an initial screen. Currently, I have an empty screen and then I present this one. Seems super unnecessary. Sorry if I am asking a stupid question, I am just starting to dig in this nice library.

[2017-11-10 21:13] morganchen12 commented on #365
It's currently not usable as an initial screen. @yramanchuk was considering this feature at one point, but hasn't implemented it yet.

[2017-11-10 21:18] antonijap commented on #365
How did you imagine a flow? This part is unclear to me. Should I have some button on the first screen that triggers this controller, or should I remove cancel and put some image?

[2017-11-10 22:42] morganchen12 commented on #365
For now, you can present the auth controller modally when your app is launched and disable the cancel button.

[2017-11-14 19:30] wayneforrest commented on #247
I have used FUIPhoneAuth with _signInWithPresentingViewController:_
and now need to _reauthenticateWithCredential:_

My problem is I cannot get hold of the "verificationID", which I then can use to get
the FIRAuthCredential in order to re-authenticate.

**How do I proceed to do this currently?**

Some doc recommends this when not using FUIPhoneAuth
(1)
[[FIRPhoneAuthProvider provider] verifyPhoneN

[2017-11-14 19:37] morganchen12 commented on #247
@wayneforrest you should be able to use that method regardless of whether or not you're using phone auth. Please file a separate issue for your question.

[2017-11-14 19:55] wayneforrest opened #366 "How to obtain the verificationID when using FUIPhoneAuth in order to re-authenticate a user"
I want to deregister a user, but this requires a recent authentication to have taken place.

In order to deregister the user I first need to re-authenticate the user which requires
FIRAuthCredential parameter.

`[user reauthenticateWithCredential:credential completion:^(NSError *_Nullable error) {`

Firebase [doc](https://firebase.google.com/docs/auth/ios/phone-auth) mentions that one should save

[2017-11-15 18:28] wayneforrest commented on #366
I have posted this question on stackoverflow located [here.](https://stackoverflow.com/questions/47311502/how-to-deregister-firebase-user-when-registered-using-fuiphoneauth)

[2017-11-16 17:53] Kcarter787 commented on #343
I had this issue only on iOS 11 as well. After a lot of digging I determined that the viewDidLoad in FUIPhoneVerificationViewController is sometimes not called

https://github.com/firebase/FirebaseUI-iOS/blob/master/FirebasePhoneAuthUI/FUIPhoneVerificationViewController.m#L97

Because of this, the button text remained “Verify” and continued to call FUIPhoneEntryViewController’s “next" method. I su

[2017-11-16 18:26] morganchen12 commented on #343
@yramanchuk PTAL

[2017-11-16 22:25] Cristy4 opened #367 "How can I hide cancel button in PhoneAuth?"

[2017-11-26 20:11] warren-gavin opened #368 "Activity indicator appearing in custom login view controller when using Facebook, Twitter or Google login."
* Objective C or Swift: Objective C
  * iOS version: 10+
  * Firebase SDK version: 4.0.0
  * FirebaseUI version: 4.0.0
  * CocoaPods Version: 1.2.0

### Describe the problem:
Commit 3ba8a76 introduced
[code]
to the FUIAuthBaseViewController class. Each of the Facebook, Twitter and Google authentication providers use this method to add an activity indicator to the presenting controller.

However, t

[2017-11-27 09:27] vuppalasivakumar commented on #335
I am also facing the same issue can you guys how do u fixed.

[2017-11-28 05:38] ranahaani opened #369 "Expected declaration of FUICustomAuthDelegate.swift"
I'm facing build time error, declaration of FUICustomAuthDelegate function
![error](https://user-images.githubusercontent.com/28961554/33304023-34f242b0-d428-11e7-99c3-968a88031b1e.png)

[2017-11-28 13:44] SpaHaDow opened #370 "Who is writing FirebaseUI-iOS, contributors or Google Employees?"
This git repo has so many contributors it is hard to tell who wrote the code and if any of it is reliable.

Who is writing FirebaseUI-iOS, contributors?, Google Employees? or both?

There is a license agreement that must be distributed with the ap. Seems like a grab bag of code owned by everybody here.

I am afraid to use any of this unless I see some kind of explanation from a Google Employee.

T

[2017-11-28 18:17] morganchen12 commented on #370
All contributors are either Google employees or 3rd party developers who have signed a [CLA](https://cla.developers.google.com/about/google-individual) allowing Google to use their code as part of this repository.

[2017-11-28 18:17] #370 closed

[2017-11-28 18:22] morganchen12 commented on #369
Fixed in https://github.com/firebase/FirebaseUI-iOS/commit/f504bd46ab20ff574edd3999be6163b544c02d89,

Thanks!

[2017-11-28 18:22] #369 closed

[2017-11-30 12:06] kutakmir commented on #350
I am still having this "something went wrong" error while using the following code:

`let phoneProvider = FUIPhoneAuth.init(authUI: FUIAuth.defaultAuthUI()!)
            FUIAuth.defaultAuthUI()?.providers = [phoneProvider]
            phoneProvider.signIn(withPresenting: self, phoneNumber: nil)`

[2017-11-30 12:09] kutakmir commented on #333
I still face this issue with 4.5 :(

[2017-12-02 11:22] anil03 commented on #350
When I am login into iPhone 5 SE it's showing the same error. "Something went wrong" and same code works in iPhone 6s.
iOS Version is same.

[2017-12-04 19:02] morganchen12 commented on #350
@yramanchuk can you take a look at this?

[2017-12-04 19:22] yoyoyo11 commented on #313
@yramanchuk I read that customization was targeted for Q4 2017.  Any updates on whether this is likely?  Thanks!

[2017-12-06 09:49] omgoransson commented on #139
+1 from me as well.

[2017-12-06 17:31] Francescu commented on #139
+1

[2017-12-06 20:46] v-lavrentikov opened #371 "FirebaseAuthUI works only with the default Firebase app, and not support multiple Firebase apps"
The problem exists in the latest version of the Firebase SDK downloaded via CocoaPods.

In the application I use two Firebase applications for the dev and prod environment.

I use the next Swift code for initializing AuthUI with Google accounts, where "app" is the previously configured Firebase app:

[code]

I receive exception after calling authViewController method from the FUIAuth instance

`le

[2017-12-06 21:17] morganchen12 commented on #371
For now can you work around this by manually naming your non-default app `__FIRAPP_DEFAULT`?

[2017-12-06 21:42] v-lavrentikov commented on #371
Now I work with the prototype app, so in the nearest future I can work only with default app.

[2017-12-09 07:31] mrugeshtank opened #372 "Updating UI on non-main Thread"
* Objective C or Swift:  Swift
  * iOS version: 10.2.1
  * Firebase SDK version: 4.4.0
  * FirebaseUI version: 4.5.0
  * CocoaPods Version: 1.3.1

Getting crash on some devices while presenting FirebaseUI for Phone verification. When user enters Phone number and selecting next for enter verification code app met crash.
Here with this issue I'm attaching  screenshot of Xcode which is fetch via buil

[2017-12-09 23:31] morganchen12 commented on #372
@yramanchuk looks like we need a dispatch in the FIRPhoneAuthProdiver's verify completion block. Has this always been an issue?

[2017-12-10 02:44] mrugeshtank commented on #372
While I was debugging on my device iPhone 6 (iOS 10.3) no any issue, but friend of mine is using this in remote place via testFlight has this issue every time on device iPhone 6 (iOS 10.2).

[2017-12-10 06:59] praveenvvstgy commented on #254
@yramanchuk do you have an ETA on this?

[2017-12-10 17:10] sultan-arshi opened #373 "Trying to change the BG of FUIEmailEntryViewController not working"
working with IOS/Swift
i am trying to get the Background colour of the FUIEmailEntryViewController i tried many Techniques but no gain
`func emailEntryViewController(forAuthUI authUI: FUIAuth) -> FUIEmailEntryViewController {
       // custom.email
        return FUICustomEmailEntryViewController(authUI: authUI)
    }`

and int the  FUICustomEmailEntryViewController.swift
`override init(nibName ni

[2017-12-13 17:28] emad-ir opened #376 "FUIPhoneAuth doesn't dismiss it self on Auth completion or Cancel button click"
This issue is a bit similar to #293 but it doesn't solve my problem.

Swift: 3
Xcode: 8.1
iOS version:10.1
FirebaseUI version: 4.0

### Problem:
The general suggested answer to this problem was that to present the view like so:
[code]
And this will fire ``` func authUI(_ authUI: FUIAuth, didSignInWith user: FirebaseAuth.User?, error: Error?) ``` the delegate function upon cancelation or authentica

[2017-12-15 20:10] AdamSantosCA commented on #313
We are also interested in this. There are two things in particular we want to customize:

1. Send the phone number to our back end to verify it's a known number prior to sending SMS
2. Move the "Verify" button below phone number field as test users have trouble finding the button on the nav bar.

Thanks

[2017-12-16 19:09] bernaferrari opened #377 "[Auth] Customize only one screen but not the others"
Hi! I am trying to replicate Android's Firebase UI Auth and therefore, I only want to customize the first page, with a title and an image (which is not a problem). The problem is, I can't opt to customize only the first page: it is all or nothing. The app crashes if I only include the main page delegate and not the others; I think it should open them without any modification when it doesn't find t

[2017-12-18 10:28] morganchen12 commented on #377
Can you post the stack trace?

[2017-12-18 11:48] ramunasjurgilas opened #378 "Build error: objc-class-ref in FirebaseTwitterAuthUI(FUITwitterAuth.o)"
After executing **pod update** started to fail build process. I have intention that problem is with **FirebaseAuth** pod.

Error in the console:
[code]

Pods used in the project:
[code]

[2017-12-18 14:16] ramunasjurgilas commented on #378
Problem was in podfile. After changing builds fine.
  pod 'Firebase/Core'
  pod 'FirebaseUI/Database', '~> 4.0'
  pod 'FirebaseUI/Auth', '~> 4.0'
  pod 'FirebaseUI/Facebook', '~> 4.0'
  pod 'FirebaseUI/Phone', '~> 4.0'

[2017-12-18 14:16] #378 closed

[2017-12-18 18:42] #377 closed

[2017-12-18 18:45] bernaferrari commented on #377
No and thanks for asking! I was trying to reproduce but couldn't.. 😄

[2017-12-18 19:59] dougdenney commented on #378
We are having the same issue after updating today.

Can you provide anymore details on how you fixed? My assumption is you removed the FirebaseUI/Auth and 'FirebaseUI/Phone pods.

[2017-12-19 08:05] ramunasjurgilas commented on #378
@dougdenney

 I did remove from my file:
[code]
And left this one:
[code]

[2017-12-19 14:39] txedo commented on #139
+1

[2017-12-19 18:47] dougdenney commented on #378
Thanks for letting me know how you fixed it.

We tried several things but what finally solved it, which seems dumb in retrospect, was just deleting the pods folder and running pod install.

[2017-12-20 02:01] UtkuDalmaz opened #379 "xCode Build Error After last pods update"
I am having build errors after the last update of Firebase pods.

Xcode version 9.2

[code]

How can I fix this problem?

<img width="1274" alt="screen shot 2017-12-20 at 04 15 27" src="https://user-images.githubusercontent.com/2130592/34187345-f8fc0fb8-e541-11e7-8ff4-09989733a04f.png">

[2017-12-20 02:05] morganchen12 commented on #379
Duplicate of #378

I can't debug this without at least your Podfile.lock

[2017-12-20 02:05] #379 closed

[2017-12-20 02:22] UtkuDalmaz commented on #379
platform :ios, “10.0”

use_frameworks!

target “Jemiyet” do
pod 'SDWebImage'
pod 'SVProgressHUD'
pod 'TWMessageBarManager'
pod 'QMServices'
pod 'Fabric'
pod 'Crashlytics'
pod 'Bolts'
pod 'FBSDKCoreKit'
pod 'FBSDKLoginKit'
pod 'ALCameraViewController'
pod 'Agrume'
pod 'SwiftyJSON'
pod 'ImageScrollView'
pod 'Alamofire'
pod 'FirebaseUI'
pod 'Firebase/Auth'
pod 'Firebase/Core'
pod 'Firebase/Messaging'

[2017-12-20 02:35] morganchen12 commented on #379
That's your Podfile, not your Podfile.lock

[2017-12-21 10:01] SirArkimedes opened #380 "Twitter updated their framework's name"
* Objective C or Swift: Swift
  * iOS version: 11.2
  * Firebase SDK version: 4.8.0
  * FirebaseUI version: 4.5.0
  * CocoaPods Version: 1.3.1

### Problem:

Twitter updated their framework name and ```FirebaseTwitterAuthUI``` uses the old name. This is a breaking change if ```TwitterKit``` & ```TwitterCore``` are updated and FirebaseUI is included in the project.

#### Steps to reproduce:

  1. C

[2017-12-22 02:48] morganchen12 commented on #380
Nice catch. PRs are always welcome, if not I'll fix this in the new year since I'm on vacation soon.

For the time being, people who run into this issue can work around it by pinning the Twitter SDK to an older version.

[2017-12-23 09:13] long1eu commented on #230
any news on this?

[2017-12-28 05:15] xuaninbox opened #384 "Add Support for iOS 11 QuickType keyboard"
* Swift
  * iOS version: 11.2.1
  * Firebase SDK version: 4.8.0
  * FirebaseUI version: 4.5.0
  * CocoaPods Version: 1.4.0

Describe the problem:

Add textContentType to UITextFields so iOS 11 QuickType keyboard can be supported, it will make using email login much easier.

Pull Request #383

[2017-12-29 14:41] iosboffin commented on #378
**and now This is showing UP:**

Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_Twitter", referenced from:
      objc-class-ref in FirebaseTwitterAuthUI(FUITwitterAuth.o)
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2017-12-30 16:49] antonijap opened #385 "After sign out, login screen immediately shows"
Although I am not sure what triggers that behavior when this code is finished, the login screen appears. I would like to trigger that manually. Is that possible?

[code]

[2017-12-30 19:55] jamiedaniel commented on #319
Making a custom auth view is a pain and not very straight forward. every time I update Pods something else gets whacky.

Can someone post an example that actually WORKS...
I can't get any buttons at all to show up. and yes everything in my Podfile is updated to current version.

[2017-12-30 20:00] jamiedaniel opened #386 "Sign in buttons disappeared after subclassing FUIAuthPickerViewController"
I have used the following.

`import UIKit
import FirebaseAuthUI
import FirebaseGoogleAuthUI

class MyCustomAuthPickerViewController: FUIAuthPickerViewController {
    // REQUIRED
    override init(nibName nibNameOrNil: String?, bundle nibBundleOrNil: Bundle?, authUI: FUIAuth) {
        super.init(nibName: "FUIAuthPickerViewController", bundle: nibBundleOrNil, authUI: authUI)
    }

    // REQUIRED

[2017-12-30 21:17] jamiedaniel commented on #386
It would hep with thrashing around on code for two days that:

DO NOT DELETE super.viewDidLoad for your subclass of FUIAuthPickerViewController

That is all.
(slinks away in shame)

[2017-12-30 21:17] #386 closed

[2018-01-01 20:03] derekgould commented on #379
I have the same issue. I can get around it by including only other FirebaseUI components (and leaving Twitter out), but if I include the complete FirebaseUI i get this error. Here's my podfile.lock.

PODS:
  - Bolts (1.9.0):
    - Bolts/AppLinks (= 1.9.0)
    - Bolts/Tasks (= 1.9.0)
  - Bolts/AppLinks (1.9.0):
    - Bolts/Tasks
  - Bolts/Tasks (1.9.0)
  - BoringSSL (9.1):
    - BoringSSL/Implement

[2018-01-01 23:55] iosboffin opened #387 "Build error: objc-class-ref in FirebaseTwitterAuthUI(FUITwitterAuth.o)"
Undefined symbols for architecture x86_64:
"OBJC_CLASS$_Twitter", referenced from:
objc-class-ref in FirebaseTwitterAuthUI(FUITwitterAuth.o)
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2018-01-02 15:45] Shoshin23 commented on #249
Hi!
I just wanted to know what kind of workarounds are you guys using for customising the buttons and also the position of the buttons.

[2018-01-03 11:19] unittesting0 commented on #346
![screen shot 2018-01-03 at 12 07 58 pm](https://user-images.githubusercontent.com/17980890/34518577-389f1108-f080-11e7-958a-ba9f649add41.png)

I tried in a new project, same issue.
Used Xcode 8.3.3 , 9.0, 9.1 - same issue.
pod repo update - same issue

How can I resolve this issue.

[2018-01-03 11:21] unittesting0 commented on #346
![screen shot 2018-01-03 at 12 07 58 pm](https://user-images.githubusercontent.com/17980890/34518577-389f1108-f080-11e7-958a-ba9f649add41.png)

I tried in a new project, same issue.
Used Xcode 8.3.3 , 9.0, 9.1 - same issue.
pod repo update - same issue

How can I resolve this issue.

[2018-01-04 00:03] morganchen12 commented on #346
What's the contents of your Podfile.lock?

[2018-01-04 00:10] morganchen12 commented on #385
You most likely have an auth state change listener somewhere in your code that's presenting the login controller if the user isn't authenticated.

[2018-01-04 00:11] morganchen12 commented on #387
What's the output of running `pod install`? You can most likely work around this issue for now by pinning an older version of TwitterKit.

[2018-01-06 23:33] koralcem commented on #378
Hitting the same issue as iosboffin on a freshly cloned project, for which the maintainer says they don't see the issue locally.
[code]

[2018-01-07 10:25] cantonalex commented on #387
Getting same error, anyone found a solution?

[2018-01-08 19:11] morganchen12 commented on #378
@koralcem, what's the contents of your Podfile.lock?

[2018-01-08 22:00] koralcem commented on #378
Full contents of my `Podfile.lock` below.

Turns out we've since removed all Twitter functionality from our project, so I personally am no longer blocked by this (simply removed said pods). But I believe the issue still might exist and blocks others.

[code]

[2018-01-09 01:19] redbullhorns opened #389 "ld: framework not found FBSDKLoginKit for architecture arm64"
* Objective C
  * iOS version: 11.2
  * Firebase SDK version: _____
  * FirebaseUI version: ____
  * CocoaPods Version: ____

After adding FirebaseAuthUI/Facebook pod to the workspace, getting an error as 'ld: framework not found FBSDKLoginKit for architecture arm64' and not able to compile.

#### Steps to reproduce:

  1. add 'pod FirebaseAuthUI/Facebook' to pod file
  2. pod update

#### Observe

[2018-01-09 02:08] morganchen12 commented on #389
What versions of Xcode and CocoaPods are you using? What's the output of `pod install`?

[2018-01-09 06:33] redbullhorns commented on #389
I'm using Xcode 9.2 (9C40b), earlier I was using CocoaPods 1.3.1. Now updated to 1.4.0.rc.1 after this, its stuck after this

Analyzing dependencies
Downloading dependencies
Installing Bolts (1.9.0)
Installing FBSDKCoreKit (4.29.0)

[2018-01-09 16:37] HamzaGhazouani commented on #387
It's working fine when I add this `pod 'TwitterCore', '2.8.0'` to the Podfile

[2018-01-09 18:02] morganchen12 commented on #389
If you run `pod install --verbose`, what's the command it's getting stuck on?

[2018-01-10 04:09] songnhi1029 commented on #83
you need check this:
<img width="1106" alt="screen shot 2018-01-10 at 11 09 31 am" src="https://user-images.githubusercontent.com/29114813/34755470-c4f15c30-f5f6-11e7-9de4-6ccca3308cac.png">

[2018-01-10 12:14] truemetal commented on #271
Curiously, disabling bitcode fixes the warnings below. Though I'm not sure that's a good idea to trade potential performance improvement for no archive warnings.

Apple Mach-O Linker (id) Warning
-Linker asked to preserve internal global: 'sharedInstance.shared.Instance'
-Linker asked to preserve internal global: '__block_descriptor_tmp'
-Linker asked to preserve internal global '__block_literal_g

[2018-01-10 22:44] morganchen12 commented on #389
closing as this isn't a FirebaseUI issue,but if you continue to comment here I'll try to help you out

[2018-01-10 22:44] #389 closed

[2018-01-10 22:44] morganchen12 commented on #387
This is fixed in the latest release.

[2018-01-10 22:44] #387 closed

[2018-01-10 22:44] morganchen12 commented on #380
This is fixed in the latest release.

[2018-01-10 22:44] #380 closed

[2018-01-10 22:46] morganchen12 commented on #262
Closing this, as it has staled. If you still have this issue, please file it over at the main Firebase iOS repo.

[2018-01-10 22:46] #262 closed

[2018-01-10 22:50] #359 closed

[2018-01-10 23:01] dev-pitcher opened #390 "Can't tap through Terms of Service link in FUIPasswordSignUpViewController"
swift, iOS 11, FirebaseUI 4.5.0

FUIPasswordSignUpViewController (i.e. sign up new user screen) shows a footer view with a link via attributed text if you've specified a Terms of Service URL. That link highlights, but tapping it does nothing. The footer UITextField needs to be set "selectable" (see IB screenshot).

![screen shot 2018-01-10 at 3 48 15 pm](https://user-images.githubusercontent.com/2

[2018-01-11 22:03] dev-pitcher commented on #139
+1

[2018-01-12 19:16] protocol86 commented on #373
@sultan-arshi

Are you correctly setting you custom delegate?

You should be doing some thing like `_authUI.delegate = myCustomAuthUIDelegate;` somewhere in you code.

Where _authUI is an instance of `FUIAuth`.

[2018-01-12 21:42] morganchen12 commented on #372
There was an older auth background queue issue that was fixed, but I can't remember what version of Firebase it was in. If you update Firebase to 4.8.0, does the issue go away?

[2018-01-12 23:23] protocol86 commented on #376
@emad-ir

You mentioned that you are interested in obtaining the user's access token. But you do not need a credential to accomplish that, you can get the token from the user object by invoking `getTokenWithCompletion`.

[2018-01-15 06:28] mrugeshtank commented on #372
Tried to update Firebase to 4.8.0, but got an error of "required a higher minimum deployment target".
I've iOS 9.0 as the minimum deployment target. Do you have any other option other than set my project to iOS 10.0 as the minimum deployment target?

[2018-01-16 23:22] morganchen12 commented on #372
Firebase 4.8.0 should be compatible with iOS 8 and above, so it's likely one of your other pods causing the issue.

[2018-01-19 09:10] squm opened #393 "FirebaseUI/Facebook import"
### Step 1: Are you in the right place?

### Step 2: Describe your environment

  * Objective C or Swift: obj-c
  * iOS version: 11
  * Firebase SDK version: 4.8.1
  * FirebaseUI version: 4.5.1
  * CocoaPods Version: 1.4.0

### Step 3: Describe the problem:

`@import FirebaseFacebookAuthUI;` does not import `FBSDKLoginButton`
`FBSDKLoginButton` is unknown without `#import <FBSDKLoginKit/FBSDKLogin

[2018-01-19 14:06] ghowen opened #394 "New compiler warning since release of FirebaseFirestore 0.10.0"
[code]

My guess is that FirebaseFirestore now implements isEqual and hash in DocumentSnapshots.

[2018-01-19 18:59] morganchen12 commented on #393
If you `import FBSDKLoginButton` does the error go away?

[2018-01-19 19:35] morganchen12 commented on #394
Fixed in 8240720536b3895fdf3b72e117e8932b0173f38d, I'll close this bug when it's released.

Thanks for reporting!

[2018-01-22 23:55] yusuftor opened #395 "Twitter Auth UI error"
I am using Twitter authentication within my swift iOS app and I've seen this issue stated in issues that have been closed on here, but couldn't see any solutions.

I keep getting this error when I try to build my project:

[code]

My Podfile looks like this:

[code]

My Podfile.lock looks like this:

[code]

Whats going wrong here?

[2018-01-23 00:05] morganchen12 commented on #395
Looks like you're still using the version of FirebaseUI with this issue (4.5.0) Run `pod update` and the issue should go away (you may have to clear your build folder).

Reopen this issue if it's still around on FirebaseUI 4.5.1.

Thanks!

[2018-01-23 00:05] #395 closed

[2018-01-23 03:49] dilizarov commented on #358
Glad this was answered.

[2018-01-23 06:16] saalisumer opened #396 "iOS 8 Support"
The documentation mentions iOS 8 support. Whereas when default Firebase UI is used, the open url for ios 8 is never called. Is it a known issue or iOS 8 support has been removed? If yes, kindly change the supported version from 8 to 9.

[2018-01-23 18:59] morganchen12 commented on #396
Which component of FirebaseUI are you using? Can you share the code you used to integrate FirebaseUI?

[2018-01-23 19:35] elgawady14 commented on #311
`Product -> Clean` `command+shift+k`

[2018-01-27 11:38] appfactoryCo opened #398 "Not able to compile with many errors"
I'm not able to get Firebase UI working with my swift project in Xcode 9.2. I get 24 errors
Some of the errors are:

/Users/Home/GoogleDrive/iOS/TheBolt/Pods/Target Support Files/nanopb/nanopb-umbrella.h:1:9: Could not build module 'UIKit'

/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator11.2.sdk/System/Library/Frameworks/Foundation.frame

[2018-01-27 12:29] #398 closed

[2018-01-27 12:30] appfactoryCo commented on #398
The issue was that I couldn't add pod 'FirebaseUI', '> 4.0' with the rest of them

[2018-02-01 18:13] #393 closed

[2018-02-01 18:36] #396 closed

[2018-02-01 18:36] morganchen12 opened #402 "Duplicate TwitterKit/TwitterCore classes at runtime"
This seems to be an issue in TwitterKit/TwitterCore.

https://twittercommunity.com/t/runtime-warnings-about-duplicate-class-implementations-twitterkit-or-twittercore/98904

[2018-02-01 22:14] #385 closed

[2018-02-01 22:15] #376 closed

[2018-02-01 22:15] #373 closed

[2018-02-01 22:15] #372 closed

[2018-02-01 22:19] #365 closed

[2018-02-01 22:25] morganchen12 commented on #360
How are you presenting the controller?

Are you able to set the bar color globally with `UINavigationBar.appearance()`?

[2018-02-01 22:34] hamzahrmalik commented on #360
I'm presenting it using

        let authUI = FUIAuth.defaultAuthUI()
        var providers: [FUIAuthProvider] = [
            FUIGoogleAuth(),
            FUIFacebookAuth()
        ]
        authUI?.providers = providers
        authUI?.delegate = self

        if let vc = authUI?.authViewController() {
            present(vc, animated: false, completion: nil)
        }

I have found that I can c

[2018-02-01 22:40] #360 closed

[2018-02-01 22:43] morganchen12 commented on #230
This has been released.

You can disable email sign-in with the [`signInWithEmailHidden`](https://github.com/firebase/FirebaseUI-iOS/blob/master/FirebaseAuthUI/FUIAuth.h#L177) property on `FUIAuth`.

[2018-02-02 00:09] morganchen12 commented on #358
Hey all,

This is an issue in upstream FirebaseAuth, not FirebaseUI. I've made a PR there (https://github.com/firebase/firebase-ios-sdk/pull/742) addressing this.

Thanks for your patience!

[2018-02-02 04:18] long1eu commented on #230
I have only Phone Auth selected, will this automatically start the phone auth?

[2018-02-02 07:52] liukaichi commented on #356
+1 for this, I seem to be running into some InconsistencyExceptions and I'm having troubles figuring out what I setup incorrectly.

[2018-02-02 16:51] Cristy4 opened #404 "Se produjo un error. Vuelve a intentarlo"
Swift 3
iOS version: 11
Firebase SDK version: 4.6.0
FirebaseUI version: 4.6.0
CocoaPods Version: 1.3.1

When I send a verification code, it displays this message "Se produjo un error. Vuelve a intentarlo.".
This only happens with iPhone X. iPhone 6 iOS 11 works perfect.

[2018-02-02 17:34] morganchen12 commented on #404
Is this when using Phone auth? Can you include some other logs from when this happens as well as how you've implemented phone auth?

[2018-02-02 17:35] morganchen12 commented on #356
@liukaichi if you open a new issue with the crashes you're running into I'm happy to help you troubleshoot.

[2018-02-02 17:40] morganchen12 commented on #230
No. You should use [this method](https://github.com/firebase/FirebaseUI-iOS/blob/master/FirebasePhoneAuthUI/FUIPhoneAuth.h#L52) on the phone auth provider directly.

[2018-02-02 17:53] liukaichi commented on #356
@morganchen12 That'd be awesome! I'm not at my computer now but I opened a stack overflow question for it. I'll make an issue on it later.

If you have time to look at the question first, it's here: https://stackoverflow.com/questions/48570406/nsinternalinconsistencyexception-on-first-load-firestoreui-uicollectionvie

[2018-02-02 18:12] morganchen12 commented on #356
There's nothing wrong with the code you've posted in the StackOverflow question. Can you share a full project that I can compile and run?

[2018-02-02 22:52] morganchen12 commented on #358
@CoderXpert @dilizarov can either of you share a project that reproduces this?

[2018-02-02 22:54] long1eu commented on #230
thanks!

[2018-02-04 11:12] Luckygirlllll commented on #194
I have the same error, your solution didn't help me. any other ideas how to fix that?

[2018-02-05 18:09] morganchen12 commented on #194
@Luckygirlllll can you open a new issue with your Podfile and `pod install` output?

[2018-02-05 19:15] morganchen12 commented on #366
@wayneforrest closing since it seems your StackOverflow question was answered. If you still have issues, feel free to reopen.

[2018-02-05 19:15] #366 closed

[2018-02-08 22:56] #345 closed

[2018-02-09 00:55] morganchen12 commented on #254
@praveenvvstgy this isn't on our roadmap for the near future, but we're happy to review external contributions.

[2018-02-09 00:56] morganchen12 commented on #404
@Cristy4 if you're still having this issue, please add extra information to the ticket and reopen it.

[2018-02-09 00:56] #404 closed

[2018-02-09 19:10] victor-sarda opened #406 "TableView datasource not updated after re-biding"
Hello Firebase 👋

### Step 2: Describe your environment

  * Objective C or Swift: **Swift**
  * iOS version: **11.2.5**
  * Firebase SDK version: **4.8.2**
  * FirebaseUI version: **4.5.1**
  * CocoaPods Version: **1.3.1**

### Step 3: Describe the problem:

I have a TableView populated by FirebaseUI. I'm doing dataSource.unbind on viewDidDisappear() and dataSource.bind in viewWillAppear(). I exp

[2018-02-09 19:20] morganchen12 commented on #406
This is most likely going to be in the next major release, which won't come out for some time.

For the time being you'll have to work around this by either not unbinding your data sources or removing the data source entirely and emptying your table view before rebinding.

Both are not great solutions, unfortunately.

[2018-02-13 10:10] svidata commented on #9
@mcdonamp Is there any real progress on this?

@morganchen12 mentioned that this feature will be released in the near future. May you please elaborate on this? How near is that future given that the last post was since 8 months ago and the original post was since 2015? (I have tried to limit my queries as you have mentioned above, but this is not in any way efficient in my case.)

We would really

[2018-02-13 10:21] mcdonamp commented on #9
@svidata I'd take a look at [Firestore](https://firebase.google.com/docs/firestore) which offers [pagination support](https://firebase.google.com/docs/firestore/query-data/query-cursors). It's likely that this support will never be added to the existing Realtime Database (even client side in Firebase UI), though I believe it's already possibly in the FirebaseUI Firestore module.

[2018-02-13 10:29] victor-sarda commented on #406
Thanks for your answer 👌
An idea of when this will come out? Thanks!

[2018-02-13 10:33] svidata commented on #9
@mcdonamp thank you for your quick reply. You are saying that this support is never likely to be added but [issue #17](https://github.com/firebase/FirebaseUI-Android/issues/17) in android and [issue #9](https://github.com/firebase/FirebaseUI-Android/issues/17) in iOS are still set as open as you can tell. How come we have not been informed about this in those threads? Now, this means that we are e

[2018-02-13 10:49] mcdonamp commented on #9
Let me clarify. It's highly unlikely that anyone from the Firebase team will add support for this in the existing Realtime Database, given that it's 1) inefficient, and 2) we're putting more effort into Firestore (which does it more efficiently).

FirebaseUI is an open source project, which means anyone can contribute this feature if they'd like (and ideally, do so on both platforms), hence issues

[2018-02-13 10:51] svidata commented on #9
@mcdonamp How about the fact that Firestore is still in beta mode?

[2018-02-13 11:07] mcdonamp commented on #9
There are several threads on related topics on [Google Cloud Firestore Discuss](https://groups.google.com/forum/#!forum/google-cloud-firestore-discuss), so I'd voice concerns there.

@morganchen12 (iOS), @samtstern (Android), and I are happy to review PRs for this feature, but again, it's unlikely we'll be able to contribute significant implementation.

[2018-02-13 16:00] samtstern commented on #9
If anyone reading this wants to send a PR, as @mcdonamp said, that's great but please outline your design in an issue first.   This is a really really tricky issue to get right (@morganchen12, @puf  and me have all made some attempt) and I wouldn't want anyone to waste their time coding before knowing if they were heading in the right direction.

[2018-02-13 17:55] morganchen12 commented on #406
The next major release will probably be around Google I/O.

[2018-02-18 01:40] mikewadhera commented on #390
+1 any update on this bug? At best this negatively impacts an app's sign up conversion and at worst can cause App Store rejections.

[2018-02-20 04:17] m-hosoi opened #409 "FUITwitterAuth does not work (TwitterKit v3.2.2 or later)"
## FUITwitterAuth
https://github.com/firebase/FirebaseUI-iOS/blob/f9e7d8c0432f522e996839a472e9c5fd7e71890e/FirebaseTwitterAuthUI/FUITwitterAuth.m#L142

## TwitterKit
https://github.com/twitter/twitter-kit-ios/blob/22ec0a5159da1b00945cbd48a259b3de6c914e78/TwitterKit/TwitterKit/TWTRTwitter.m#L408
[code]

https://github.com/twitter/twitter-kit-ios/blob/22ec0a5159da1b00945cbd48a259b3de6c914e78/Twitter

[2018-02-20 18:45] morganchen12 commented on #390
This is fixed in b1e7ea3dfd11c102c96b4210016b3050fdda8290 and will be out with the next release.

The next release of FirebaseUI will be a major version release with breaking changes, and likely won't be out for at least another month. If this is severely blocking you, let me know and I can push a bugfix release earlier.

[2018-02-23 00:12] mikewadhera commented on #390
@morganchen12 thanks for the reply. We can confirm this is blocking App Store updates. Can you please provider an earlier release ASAP? Thanks

[2018-02-27 02:34] rohaaa opened #411 "Multiple FUIArray in the same ViewController"
Hi!

In my ViewController I have two **FUISortedArray**.

Here is my code to know which array has been updated:

[code]

Is there a more secure and faster way to do it?

[2018-02-27 03:03] morganchen12 commented on #411
If you're doing this via Swift's pattern matching (which it looks like you are), you can just match the arrays directly for pointer equivalence.

[code]

[2018-02-27 03:03] #411 closed

[2018-02-27 03:20] rohaaa commented on #411
@morganchen12 I have already tested I get an error "Expression pattern of type 'FUISortedArray' cannot match values of type 'FUICollection'"

[2018-02-27 06:35] morganchen12 commented on #411
Got it, looks like you can't match classes conforming to the protocol type. In this case you could either cast `array` explicitly to an `FUIArray` or use NSObjectProtocol's `hash` property to match instead of description.

[code]

[2018-02-27 06:42] rohaaa commented on #411
@morganchen12 Perfect! Thank you!

[2018-03-01 11:13] morganchen12 commented on #390
Hey all, I'm out traveling this week and will be back 3/3. I should have time to push a release then.

Sorry for the delay.

[2018-03-02 17:09] edvaldeysteinsson opened #413 "Privacy policy"
In the Android version of the FirebaseAuthUI there is a option to specify a privacy policy url in addition to the terms of service url but this is not available in the iOS version. Any plans on adding this?

[2018-03-04 15:07] namsoila opened #415 "Remove Sign In With Email Option"
### Environment

  * Objective C or Swift: Swift
  * iOS version: 11.2
  * Firebase SDK version: 4.9.0
  * FirebaseUI version: 4.5.1
  * CocoaPods Version: 1.4.0

### Description:

Is it possible to remove the Sign In With Email option? I started a project where it was enabled along with the phone auth. However, when I turned it off in my panel it still remains in the sign in screen. I am listing

[2018-03-05 18:11] morganchen12 commented on #415
You can set the `signInWithEmailHidden` property on `FIRAuth`.

https://github.com/firebase/FirebaseUI-iOS/blob/master/FirebaseAuthUI/FUIAuth.h#L177

[2018-03-05 18:11] #415 closed

[2018-03-06 19:50] morganchen12 commented on #343
Closing this issue as it seems to have staled; if you have a project that reproduces this issue, please post it here and I'll reopen.

[2018-03-06 19:50] #343 closed

[2018-03-06 20:06] nezhyborets commented on #358
By looking here https://github.com/firebase/FirebaseUI-iOS/blob/master/FirebasePhoneAuthUI/FUIPhoneEntryViewController.m

we can see that `verifyPhoneNumber:UIDelegate:completion:` is being called, but I still get the following error

[2018-03-06 20:51] morganchen12 commented on #358
@nezhyborets there's not enough information here to debug your error.

This issue is going off topic; please file a new issue with repro steps or a project attached that we can debug if you're still seeing this error.

[2018-03-06 20:51] #358 closed

[2018-03-07 05:59] nezhyborets opened #416 "Phone auth error in iOS Simulator - ERROR_MISSING_APP_TOKEN"
Describe your environment

  * Objective C or Swift: Swift 4.0
  * iOS version: 11.2 Simulator
  * Firebase SDK version: 4.10.0
  * FirebaseUI version: 4.5.1
  * CocoaPods Version: 1.4.0

### Describe the problem:

#### Steps to reproduce:

  1. Setup with following code
[code]
  2. Input phone number and tap Verify

#### Observed Results:
At this point
[code]
following error is received:

#### Ex

[2018-03-07 22:06] fabiotk commented on #313
Guys,  Do you know if the screen of phone authentication was launched with features for customize?

[2018-03-08 00:17] morganchen12 commented on #390
This is fixed in v4.5.2. Please re-open if it's still an issue.

[2018-03-08 00:17] #390 closed

[2018-03-08 00:17] morganchen12 commented on #394
The fix has been released in v4.5.2.

[2018-03-08 00:17] #394 closed

[2018-03-08 12:16] nezhyborets commented on #416
Sorry, seems that adding `app.registerForRemoteNotifications()` in completion of `UNUserNotificationCenter.current().requestAuthorization(options:, completionHandler:)` fixed the issue.

Conclusion: iOS simulator still needs push notifications registration to be properly setup, even though it doesn't support push notifications

[2018-03-08 16:43] #416 closed

[2018-03-09 12:49] ghowen opened #418 "Remove informational log message in FUIFirestoreCollectionViewDataSource.m"
In FUIFirestoreCollectionViewDataSource.m in line 136-137 the datasource prints the contents of the FUISnapshotArrayDiff to the console.

    NSLog(@"Updated with diff: %@", diff);
    NSLog(@"Total: %ld", (long)_collection.count);

This quickly clutters the console output, which should IMHO contain errors and warnings only. My guess is that this is a leftover from development and could be removed

[2018-03-09 19:33] morganchen12 commented on #418
Fixed in 4.5.3.

[2018-03-10 03:59] njovy commented on #313
Any new updates regarding this?

[2018-03-12 16:52] protocol86 commented on #313
This feature has not yet been launched. We currently don't have an ETA for this feature, but it is certainly on our radar.

[2018-03-12 22:18] jessemx109 opened #419 "FUIPasswordSignInViewController Not Dismissing"
### Step 2: Describe your environment

  * Objective C or Swift: Swift
  * iOS version: 11
  * Firebase SDK version: 4.10.0
  * FirebaseUI version: 4.5.3
  * CocoaPods Version: 1.4.0

### Step 3: Describe the problem:

#### Steps to reproduce:

  1. Set FUIAuthPickerViewController as rootViewController of applications UIWindow
  2. Select email Sign in method
  3. Enter login information and press

[2018-03-12 22:26] morganchen12 commented on #419
duplicate of #254

[2018-03-12 22:27] #419 closed

[2018-03-12 23:04] alexroode opened #420 "FUIFirestoreTableViewDataSource populateCell not called for document with modified field"
### Step 2: Describe your environment

  * Objective C or Swift: Swift 4
  * iOS version: 11.2
  * Firebase SDK version: 4.10.1
  * FirebaseUI version: 4.5.3
  * CocoaPods Version: 1.4

### Step 3: Describe the problem:

I am seeing that when using `FUIFirestoreTableViewDatasource`, if add to or remove documents (e.g. using the Firebase console) from a collection bound to a `UITableView`, the tabl

[2018-03-13 19:34] morganchen12 commented on #420
I wasn't able to reproduce this. Here's my code:

[code]

Updating a document's fields in console causes an update on the client, which then refreshes correctly. Are there any errors in your console? If you're not running the latest version of Firestore, does updating make the issue go away?

[2018-03-14 05:13] alexroode commented on #420
Thank you for looking into it.

I believe I am already running the latest version of everything:
* FirebaseCode 4.0.17
* FirebaseUI 4.5.3
* FirebaseFirestore 0.10.3

The only lines I am seeing in the console some log statements like these:
[code]
I have tried `FUICollectionViewDataSource`, moving the dataSource initialization and binding to `viewDidLoad`, and building the query using `collectionWi

[2018-03-14 19:22] #420 closed

[2018-03-14 20:34] morganchen12 commented on #420
I was able to reproduce this with your example; the fix is released in FirebaseUI 4.5.4.

Thanks for reporting!

[2018-03-17 11:49] ghowen commented on #418
Still getting it with the 4.5.4 pod although it seems to be removed from code. Maybe it didn't make it in the pod?

[2018-03-19 16:28] mickeysox opened #422 "Extend bind to for fan outs"
I am writing a chat app with the following fan out - user1 chatting to user2

Messages
——user 1
——-m1
———message: test

User-messages
—-user1
——m1
—-user2
——m1

To source the messages I get the user-message ids per user and then source the actual message.  However I don’t think this can be done when binding to the collection view because it only takes one reference.

I have tried various different

[2018-03-19 17:05] morganchen12 commented on #422
Are you using Firestore or RTDB?

[2018-03-19 17:39] mickeysox commented on #422
Hi,

RTDB.  Maybe my design is wrong.  I was trying to follow David East’s recommendation -and it seems reasonable to me.

Thanks

[2018-03-19 18:32] morganchen12 commented on #422
This is something you could do with [`FUIIndexCollectionViewDataSource`](https://github.com/firebase/FirebaseUI-iOS/blob/master/FirebaseDatabaseUI/FUIIndexCollectionViewDataSource.h), but your database structure would have to have all messages in a flat collection instead of nesting them under user IDs.

[2018-03-19 18:35] morganchen12 commented on #418
This should be fixed for real this time in 4.5.5.

[2018-03-19 18:35] #418 closed

[2018-03-24 13:58] yunpengn opened #423 "How to set a default value for name field in the password sign up view"
### Step 1: Are you in the right place?

Yes

### Step 2: Describe your environment

  * Objective C or Swift: _Swift_
  * iOS version: _iOS 11_
  * Firebase SDK version: _Firebase/Auth (4.10.1)_
  * FirebaseUI version: _FirebaseUI/Auth (4.5.4)_
  * CocoaPods Version: _1.4.0_

### Step 3: Describe the problem:

I am trying to add a default value for the name field in password sign up view, but it

[2018-03-24 14:24] yunpengn commented on #423
Hi,

I found the solution already. See the code below.

[code]

Will close this issue for now. If anyone found has potential problems, please point out. If need discussion, please re-open it.

[2018-03-24 14:24] #423 closed

[2018-03-24 18:27] bbookman commented on #409
Not sure if this is 100% related, but I keep getting an empty framework for Twitter when doing `pod FirebaseUI` or `pod FirebaseUI/Twitter`.  See [This image for proof](https://imgur.com/a/5AwrB)

[2018-03-26 17:42] morganchen12 commented on #409
@bbookman, yours looks like a packaging issue and isn't related to the original issue filed. What version of CocoaPods are you using? If you clear your CocoaPods cache (`pod cache clean FirebaseUI --all`) does it fix the issue?

[2018-03-27 05:18] cgossain commented on #8
I've built an NSFetchedResultsController type solution for the Firebase Realtime Database, and I've just open sourced it. I've been using this in a few production apps for some time now.

https://github.com/cgossain/FirebaseResultsController

I'd love to hear your thoughts.

[2018-03-27 05:26] cgossain commented on #183
Just in case people need an NSFetchedResultsController type solution for the Firebase Realtime Database, I've just open sourced a library I've been working on for some time. I've been using this in a few of my production apps for some time now. And it includes support for diffing.

https://github.com/cgossain/FirebaseResultsController

I'd love to hear your thoughts.

[2018-03-27 05:49] #409 closed

[2018-03-27 05:49] morganchen12 commented on #409
This is fixed and will be available in the next major version.

[2018-03-28 05:56] bfjfm2 commented on #345
I am having the same problem. Any solution?

[2018-03-28 10:57] bfjfm2 commented on #333
This issue is there and no clue.

[2018-03-28 12:01] bfjfm2 commented on #333
It is really annoying issue.

[2018-03-28 12:25] bfjfm2 opened #425 "PhoneAuthentication Something went wrong. Please try again."
Guys,
   I have no clue, why I am getting this **# Something went wrong. please try again.**  It is working on another project with the same configuration. I have changed new GoogleServiceInfo.plist and also added URL types in Target Info.  I have tried with all versions from 4.5 to 4.2.   Very annoying error message.  Any help?

![img-4647](https://user-images.githubusercontent.com/280136/3802845

[2018-03-28 15:23] dannymota commented on #333
Anyone find an update to this? I'm on Firebase 4.11.0. It works on the simulator, but not on my iPhone.

[2018-03-28 17:03] morganchen12 commented on #425
@bfjfm2 can you share your implementation?

[2018-03-29 19:42] morganchen12 commented on #413
We do plan on adding this. There may be legal requirements involved, so it may take longer than usual.

I'll update this thread when more updates are available.

[2018-03-29 21:12] SUPERCILEX opened #426 "Support silent sign-in for seamless device upgrades"
Blocking https://github.com/firebase/FirebaseUI-Android/pull/1212

Is this feasible on iOS? (i.e. should we wait on it?) It'd be really cool if this was possible since the experience is _sooooo_ slick! 👍

[2018-03-29 21:19] samtstern commented on #426
cc @morganchen12

[2018-03-29 21:24] morganchen12 commented on #426
This already exists on iOS since session info is stored in keychain, which persists across system upgrades and app reinstalls.

[2018-03-29 21:24] #426 closed

[2018-03-31 22:32] bfjfm2 commented on #425
Thanks, @morganchen12  I managed to fix it.

**Issue .**
If we set APNSToken for FIRAuthAPNSTokenTypeSandbox and respective credentials are not updated in Firebase Cloud then I got this error.
[[FIRAuth auth] setAPNSToken:deviceToken type:FIRAuthAPNSTokenTypeSandbox];

**Fix:**
I have changed to
[[FIRAuth auth] setAPNSToken:deviceToken];

Everything is working fine. Please update respective error

[2018-04-01 19:16] mikewadhera commented on #390
Can you please push 4.5.2 to CocoaPods?

[2018-04-02 16:54] morganchen12 commented on #390
4.5.2 was pushed a while ago. https://cocoapods.org/pods/FirebaseUI

[2018-04-02 16:55] morganchen12 commented on #425
The method you mentioned is deprecated and will be removed in the next major version update.

cc @protocol86

[2018-04-02 16:55] #425 closed

[2018-04-02 22:38] AndriyGo opened #427 "Multiple Facebook apps for one Firebase project"
We have 5 apps which we would like to integrate with Firebase in one project. Each of them is associated with a separate Facebook app for marketing purposes. However, we want our users' data to be stored in one place. I know that I cannot set more than 1 Facebook app ID in the Firebase console.

However, by browsing through the Firebase UI implementation of the Facebook login it seems to me that `

[2018-04-03 00:34] morganchen12 commented on #427
You'll most likely run into errors, though I'm not sure which errors.

@protocol86 can explain more.

[2018-04-03 08:53] AndriyGo commented on #427
@morganchen12 thank you for your reply. I am looking forward to hearing more about this potential use case.

I know that we could use custom authentication with Facebook and pass the token to Firebase. The problem, however, is that current Firebase UI does not seem to support custom authentication methods/logic. So, if we follow this route, we need to redesign UI and logic for all authentication m

[2018-04-03 18:41] protocol86 commented on #427
@AndriyGo ,

Unfortunately this use-case is not currently supported and adding support would be non-trivial (a PR on your end wouldn't be enough to add support). Note that the FirebaseUI libraries are wrappers above the core Firebase libraries and as a result are subject to the same limitations.

Your original idea of using Custom Auth would be the way to achieve multiple FB apps on the same Fireb

[2018-04-03 21:30] AndriyGo commented on #427
@protocol86 thanks for your response. I had several ideas related to a PR which all seem better than rewriting all sign in methods and UI because of our particular Facebook need.

In my opinion, the simplest way to achieve what I want is to define `FUICustomAuth` class which users could subclass. It would conform to the `FUIAuthProvider` protocol. And hence it would be possible to add custom sign

[2018-04-03 21:48] morganchen12 commented on #427
FirebaseUI-iOS has to be written in ObjC because of its dependency structure, but I'd be happy to review a feature like that.

Essentially what you're proposing is adding custom auth support to FirebaseUI, which seems like a good approach. @protocol86 let us know what you think.

[2018-04-04 18:57] bojeil-google commented on #427
Hey @AndriyGo, adding support for custom authentication (along with existing providers) to FirebaseUI is a feature we'd like to support for all 3 platforms (iOS, Android and web). However, we have a lot of flows that could be affected by this. For example, we are adding anonymous user upgrade flows and have plans for supporting reauthentication flows, etc. We'd need to make sure this is designed c

[2018-04-05 08:54] AndriyGo commented on #427
@bojeil-google I'd be able to submit PRs for Android and iOS fairly soon. As for the web, none of the guys in my company worked with it yet, so it might take more time.

Regarding the architecture and additional flows, I think that the best way to ensure that everything is working is to add extra requirements to the `FUIAuthProvider` protocol. As I understand, in order to support anonymous user up

[2018-04-05 11:44] joemerritt opened #428 "FUIIndexTableViewDataSource Strange Behavior"
Hi Guys, I'm struggling with an Issue. I'm using Firebase UI with FUIIndexTableViewDataSource in swift. i'm using the below code to populate a table view with custom cells. Some of the items in the cell are purely text and there are also 2 images which come from Firebase Storage.

When running the code the first 2 cells populate correctly. However the 3rd cell when is partially off the screen scro

[2018-04-05 16:48] AndriyGo commented on #427
Actually, it looks as if I was wrong. The current implementation of Firebase UI does allow the addition of custom authentication providers because `FUIAuthProvider` protocol is exposed. So, I can easily declare a class which conforms to this protocol and then pass it as one of the authentication providers.  So, it looks like no additional PRs are needed. I assume that this holds true for Android a

[2018-04-07 03:16] AndriyGo commented on #427
@morganchen12  I am going to reopen this issue because the amount of work required to support Facebook login using custom authentication seems like an overkill. From what I was able to learn, the following line of code does some magic and constructs the credentials necessary for Firebase in the standard implementation of Facebook login:

`FIRAuthCredential *credential = [FIRFacebookAuthProvider cr

[2018-04-07 18:10] protocol86 commented on #427
@AndriyGo

The `credentialWithAccessToken:` method on `FIRFacebookAuthProvider ` isn't really magical. It creates an object with the valid FB access token which can then be used to `signInWithCredential` in the core library. Firebase's backend talks to FB with the credentials (App Id and secret) stored in the Firebase console.  So adding support to the core library will have to entail adding suppo

[2018-04-09 11:30] AndriyGo commented on #427
@protocol86

After more playing with the authentication, I think I figured out what I need to do and why the standard implementation is not able to deal with multiple FB apps. And in my opinion, this is related to a broader issue which should be addressed in the Firebase core.

The best way to support multiple FB apps is to follow this logic whenever a user signs into FB app:

1) User signs into F

[2018-04-10 11:55] somu121500 commented on #279
Adding plus gives indication of country code (+91 for india OR add "(0120) for landline code") that is E164 compliance.

[2018-04-11 15:33] turk-jk opened #430 "FirebaseUI iOS - Phone Auth, accepts arabic numbers for phone number but not the code"
### Step 2: Describe your environment

  *  Swift: 4.1
  * iOS version: 11.3
  * Firebase SDK version: 4.7.0
  * FirebaseUI version: 4.1.1
  * CocoaPods Version: 1.4.0.beta

### Step 3: Describe the problem:
the default FUIAuth.defaultAuthUI() with phoneProvider, it accepts the Arabic numbers for the phone number but it doesn't accepts Arabic numbers for the code validation.

thanks

[2018-04-11 15:51] AndriyGo opened #431 "Making `addActivityIndicator` of `FUIAuthBaseViewController` public"
As I am implementing the custom authentication via Facebook, I am subclassing the `FUIFacebookAuth` class. One problem which I ran into is that the `addActivityIndicator` of `FUIAuthBaseViewController` is not public. This means that I cannot tell the framework to display an activity indicator during the execution of `completeSignInFlowWithAccessToken` method.

I think this is not right. As long as

[2018-04-11 15:53] morganchen12 commented on #430
@protocol86 this seems like a bug (ideally both or neither should be supported)

[2018-04-11 15:54] turk-jk commented on #430
I agree with you.

On Wed, 11 Apr 2018 at 11:53 pm, Morgan Chen <notifications@github.com>
wrote:

[2018-04-11 15:55] morganchen12 commented on #431
I'm ok with this change.

[2018-04-11 16:00] AndriyGo commented on #431
@morganchen12 👍

To be honest after reading through declarations in the `FUIAuthBaseViewController_Internal.h` I am wondering whether all of these functions should be exposed? I could not isolate any single one which needs to stay private for security/other reasons.

[2018-04-11 17:08] morganchen12 commented on #431
Part of it is keeping functions closed makes it easier to support/update the SDK, since changes to those functions if they're private don't constitute breaking API changes. So each part of the interface we make public should have at least one use case in mind, otherwise we're increasing our support difficulty for no real benefit.

[2018-04-11 17:40] AndriyGo commented on #431
@morganchen12 makes sense. In this case, I would propose to expose a few more methods. Though I do not need them at the moment, I think that others may require them when implementing custom things. The full list is below:

1) `incrementActivity` and `decrementActivity`
2) `showSignInAlertWithEmail`
3) `addActivityIndicator`

I think that when subclassing authentication providers or authentication

[2018-04-11 17:42] morganchen12 commented on #431
👍

Please wait for @protocol86's feedback before continuing.

[2018-04-12 16:42] AndriyGo opened #433 "Swift subclass of `FUIAuthPickerViewController` crashes"
I am trying to subclass the `FUIAuthPickerViewController`. Here is my implementation so far:

`class FUICustomAuthPickerViewController: FUIAuthPickerViewController {}`

Unfortunately, it crashes with the exception `libc++abi.dylib: terminating with uncaught exception of type NSException`.

Is this related to me using Swift in my project? If so, do you have any idea how this could be fixed?

[2018-04-12 17:39] morganchen12 commented on #433
Unlikely. What's the full stack trace? I'm guessing it may be related to https://github.com/firebase/firebase-ios-sdk/issues/1072.

[2018-04-12 18:50] johncovele commented on #230
This issue was to disable email SIGN UP, not SIGN IN.  signInWithEmailHidden has nothing to do with Sign Up. Why is this closed? Looks like this feature is very sorely needed, and is apparently already present on Android.

There are many use cases where you don't want the user creating their own accounts, you only want them to log in via a mobile app, with a email/password that is previously creat

[2018-04-12 19:26] johncovele commented on #230
Since I'm building with source code, I was able to do something like this (for email auth):

FUIEmailEntryViewController.m:
`
// New user.

if ( DISABLE_ACCOUNT_CREATION ) {}
	UIAlertController *alertController = [UIAlertController alertControllerWithTitle:@"Email Not Found"
			message:@"That email was not found" preferredStyle:UIAlertControllerStyleAlert];
	[alertController addAction: [UIAlertAct

[2018-04-12 19:41] AndriyGo commented on #433
Having below methods fixes the issue for me:

[code]

[2018-04-12 19:41] #433 closed

[2018-04-13 10:40] AndriyGo commented on #431
@protocol86 is there any chance you could have a look at this? I would like to submit this PR as soon as possible :)

[2018-04-13 16:40] morganchen12 commented on #431
He's currently out of office, but will be back on Monday.

[2018-04-16 19:29] AndriyGo commented on #431
@morganchen12 @protocol86 sorry guys for being so pushy, but is there any chance you could let me know if such PR can be merged? :blush:

[2018-04-18 18:16] RachitTechnology opened #434 "FirebaseUI iOS App - Google sign-in 403. Error:disallowed_useragent"
### Step 1: Are you in the right place?

Yes - issue raised on stack overflow but no solution found https://stackoverflow.com/questions/49830195/firebaseui-ios-app-google-sign-in-403-errordisallowed-useragent

### Step 2: Describe your environment

  * Objective C or Swift: ____objective c
  * iOS version: _____8.1 & 11
  * Firebase SDK version: _____Firebase 4.12.0
  * FirebaseUI version: ____4.1

[2018-04-18 18:17] morganchen12 commented on #434
Can you update to the latest FirebaseUI version and try again?

[2018-04-18 18:25] morganchen12 commented on #434
Run `pod update`.

[2018-04-18 18:42] RachitTechnology commented on #434
tried running an update, below were updated however rerunning project still gives same error

Installing Firebase 4.13.0 (was 4.12.0)
Installing FirebaseAnalytics 4.2.0 (was 4.1.0)
Installing FirebaseAuth 4.6.1 (was 4.6.0)
Installing FirebaseCore 4.0.20 (was 4.0.19)

[2018-04-18 18:47] morganchen12 commented on #434
Can you share your project?

[2018-04-18 18:48] RachitTechnology commented on #434
sorry.. cannot share due to company policy.. is there specific setting that I should look for?

[2018-04-19 04:40] RachitTechnology commented on #434
Issue was resolved by following instructions given in below link. Is it legit fix or a workaround?

 https://stackoverflow.com/questions/40654403/403-error-disallowed-useragent

 NSString *userAgent = @"Mozilla/5.0 (iPhone; CPU iPhone OS 10_3 like Mac OS X) AppleWebKit/603.1.23 (KHTML, like Gecko) Version/10.0 Mobile/14E5239e Safari/602";

     // set default user agent

     NSDictionary *diction

[2018-04-19 06:39] Bruce9487 commented on #402
Same issue here.

[2018-04-20 23:40] cerupcat opened #435 "Cocoapods import, no AccountManagement files"
I'm including FireBaseUI pod in my project, but none of the `AccountManagement` files are being included. Is this a known issue or am I doing something wrong?

[2018-04-21 03:05] axiom-media commented on #324
@zgosalvez thanks for your comment about removing from the cache directly using the key.  It was exactly the piece of info I needed to be able to invalidate specific images in my code.

[2018-04-21 08:59] joemerritt opened #436 "FUIIndexTableViewDataSource reverse the stack"
Hi All,

I am using the FUIIndexTableViewDataSource method and it works nicely. However I need to revers the loading order of the stack. I.e. the last node in FB needs to be the first cell in the Table View.

Is there a way to reverse the stack?

self.dataSource = FUIIndexTableViewDataSource(

            index: indexQuery,
            data: dataRef,
            tableView: self.listTableView,

[2018-04-21 11:00] fareast555 commented on #389
Same issue here. New to Firebase. Installed FB via CocoaPods. Got the framework not found FBSDKLoginKit for architecture arm64 error. Installed the FBSDK via cocoa pods thinking that might silence it. It didn't.

Note that this issue doesn't exist in Swift.

[2018-04-21 18:50] morganchen12 commented on #435
What errors are you getting?

[2018-04-21 18:53] morganchen12 commented on #436
Use one of the [ordering methods on FIRDatabaseQuery](https://firebase.google.com/docs/reference/ios/firebasedatabase/api/reference/Classes/FIRDatabaseQuery#-queryorderedbychild) to reverse your query before passing it to FirebaseUI.

[2018-04-21 19:04] cerupcat commented on #435
I'm not getting any errors. It just appears none of the source files in the Account Management folder are being downloaded through cocoapods. The only file I'm seeing is`FUIAccountSettingsViewController.nib`, but all the other source files are missing from what I can tell.

[2018-04-21 19:06] cerupcat commented on #435
<img width="371" alt="screenshot 2018-04-21 12 05 55" src="https://user-images.githubusercontent.com/204151/39087866-654b4e8e-455c-11e8-94d9-65380f92a8c5.png">

[2018-04-21 19:14] morganchen12 commented on #435
They're not part of the public headers, so you won't be able to find them in the headers folder.

[2018-04-21 19:14] #435 closed

[2018-04-22 00:11] joemerritt commented on #436
I'm not sure this will work as I would need to reverse the database reference. From my understanding it's not the query that's the issue. I want the last post from Firebase Ref first. in Java there is a "setReverseLayout" function that can be called. I can't seem to find anything similar for Swift?

[2018-04-22 19:52] morganchen12 commented on #436
You can do this manually by subclassing `FUIArray`.

[2018-04-24 20:02] atrepeklis commented on #139
+1

[2018-04-25 15:06] AndriyGo commented on #431
@morganchen12 @protocol86 guys, is this still on your radar?

[2018-04-25 15:08] fabiotk commented on #371
I have a similar issue.

I'm building an SDK with the purpose of separate my entire login/auth logic of all apps that I have.
I have a same login/auth logic for many apps.

The initialization is inside the SDK, and I think that will be a good approach that my custom SDK initialize the Firebase Auth as a second project, and not the default project of the firebase inside the application.

When I try

[2018-04-25 17:26] morganchen12 commented on #371
Expose the initialize call in your wrapped SDK and call it before calling any other Firebase SDK methods.

[2018-04-25 17:27] morganchen12 commented on #431
Go ahead and make the PR. It should only require a minor version bump, since no existing API is being modified.

[2018-04-25 18:06] manmanmaaaaan commented on #262
still having this issue in swift 4. very easy to reproduce for me

Auth.auth().signIn(withEmail: email, password: pass)
{ (user, error) in

  if let u = user
  {
    print("my display name is \(u.displayName) ")
  }
})

[2018-04-26 18:04] ryandailey100 opened #438 "Move Sign In buttons higher"
My current app has three login methods: Google, Facebook, and Email. These buttons are automatically placed at the bottom of the screen. I would like to raise these buttons more up. The reason for this is that I want to add a Terms of Service and Privacy Policy buttons at the bottom of the screen, below the Sign In buttons. Is this possible to achieve? Please let me know, thanks!

[2018-04-26 18:12] ryandailey100 opened #439 "Sign In buttons doesn't constrain to Safe Area"
I realized that the Sign In buttons are constrained to the superview rather than the Safe area. This causes it to look strange on the iPhone X. Is there a way to fix this? Thanks.

[2018-04-26 18:12] #438 closed

[2018-04-26 18:25] morganchen12 commented on #262
This sounds like an upstream FirebaseAuth issue. @manmanmaaaaan what versions of Firebase/FirebaseUI are you using?

[2018-04-26 21:30] manmanmaaaaan commented on #262
thnx.I am using FireBaseAuth 4.6.1I have swift 4 and xcode 9.3Auth.auth().signIn(withEmail: $email, $password: pass){ (user, error) in                   if let e = error  {    let t = text_from_error_code(e._code)    alert(t, msg: e.localizedDescription, done:nil)  }  else if let u = user  {    print("name is \(u.displayName)")  }  else  {     alert("Hmm", msg:"No error, but could not log you in."

[2018-04-26 21:34] manmanmaaaaan commented on #262
under firebase 'Authentication' (not database) - I do find my user, but there is no way to set displayName, if I am supposed to set displayName there?? instead of under database, with collection 'users' ?

[2018-04-27 12:57] fabiotk commented on #371
@morganchen12 Could you please show me an example of how do this wrapped SDK? I'm trying to solve this problem since last week and nothing works

[2018-04-28 14:13] najdanovicivan commented on #254
I've been struggling with this for a couple of hours in order to find why delegate is not being called

The issue can be easily solved by modifying code for dismissing view from

I am working on fixing this and I'll submit pull request when its done

[2018-04-28 22:45] joemerritt commented on #259
Hi Troy21688,

Did you manage to achieve this? I'm attempting to do this with a FUInedexTableView?

Cheers

Joe

[2018-05-02 09:45] joemerritt commented on #436
MorganChen12. I"m having trouble relating this back to indexTableView. Do you have an example I can reference?

[2018-05-02 22:47] Suruchi12 commented on #361
Did you figure out the reason? I have the same issue

[2018-05-03 15:40] morganchen12 commented on #436
Sorry, this is actually not possible currently because the initializer of FUIIndexArray doesn't take an FUIArray. I'll add this to the next release.

[2018-05-03 18:18] justdan0227 opened #441 "sd_setImage: How do you get rounded images once retrieved from server."
How do you go about making the returned image rounded.  I set the layer and you can see that the default image is rounded, however when the returned image is displayed it is square.

[2018-05-03 19:07] morganchen12 commented on #441
If you want to round the image itself, you should use a Cloud Function.

If you want to display the rectangular image as rounded, set the image view's layer's cornerRadius property and clip to bounds.

[code]

[2018-05-03 19:59] morganchen12 commented on #441
This is probably a bug. In the meantime you can probably work around it by wrapping your image view in a regular view and setting the corner radius and clipping on the container view.

[2018-05-03 20:03] justdan0227 commented on #441
Thanks.. I’ll try that

[2018-05-06 06:41] RachitTechnology opened #442 "Phone Verification - Invalid Token - FIRAuth Error Domain Code 17048 - With APN Authentication key"
### Step 2: Describe your environment

  * Objective C or Swift:  Objective C
  * iOS version:  All Versions
  * Firebase SDK version:  latest pod update ( as of 6-May-2018)
  * FirebaseUI version: latest pod update ( as of 6-May-2018)
  * CocoaPods Version: latest pod update ( as of 6-May-2018)

### Step 3: Describe the problem:
We have Phone Verification working without any issue in Android. Tri

[2018-05-08 05:25] RachitTechnology commented on #442
@morganchen12  - Thanks for your reply.  When we remove APN's Authentication key and upload APNs certificates - Phone verfication starts working in production as well as in development without any ios code change.  Can you please tell us what change is required on ios side to make it working with APN's Authentication key? I have followed the instructions provided on developer.google.com

[2018-05-08 17:55] morganchen12 commented on #442
Make sure your Auth key belongs to the same Team ID as the one used to sign your application. For most teams this is the same as the App ID Prefix, but for others it may not be.

[2018-05-08 19:04] morganchen12 commented on #436
This is released in FirebaseUI 5.0.0. You can now manually construct an FUIArray and pass it into the FUIIndexArray initializer.

[2018-05-08 19:04] #436 closed

[2018-05-08 19:32] nole87 opened #444 "auth UI not translated to my native lang"
Dear,

I add new String file to my swift project and call it FirebaseAuthUI and put into this file all strings from here https://github.com/firebase/FirebaseUI-iOS/blob/master/FirebaseAuthUI/Strings/sr-Latn.lproj/FirebaseAuthUI.strings they are already translated to Serbian latin. This code I use:

if let bundlePath = Bundle.main.path(forResource: "FirebaseAuthUI", ofType: "strings") {

[2018-05-08 20:04] morganchen12 commented on #444
You shouldn't need to use a custom bundle path to use the stock translations that ship with FirebaseUI. Use a custom bundle path to supply your own translations.

FirebaseUI will use the language that the user has set on their phone, so if your phone is using en-US it won't display Serbian latin.

[2018-05-08 20:04] #444 closed

[2018-05-08 20:08] nole87 commented on #444
I think I use it, there is code in my first post, if code isn't good can you give me correct code.

Thanks,
Milan

[2018-05-08 20:39] morganchen12 commented on #444
It should work by default, so you should be able to remove that code from your codebase.

[2018-05-09 08:43] nole87 commented on #444
I want to set default language to Serbian because my app is for Balkan and here Serbian is native language, all other apps for Balkan region are in Serbian by default, no matter device language settings! Is this possible with firebase auth UI for iOS swift or not, on Android I set firebase UI to be always Serbian latin.

[2018-05-09 10:45] najdanovicivan commented on #125
What about adding the boolean flat autoDetectSignup to FUAuth defaulted to YES;

if parameter is set to NO FUI FUIEmailEntryViewController will not be displayed. Instead it will directly show FUIPasswordSignUpViewController

In such case if email field is blank right navigation button will be "Sign Up" once the user add any character to the email field it will switch to "Sign-In"

Additionally we

[2018-05-10 05:16] RachitTechnology commented on #442
yes I veritify its same Team ID as signing ID

[2018-05-10 05:20] RachitTechnology opened #445 "Project Compilation error - Include of non-modular header inside framework module class :"
With Latest Update Firebase 5.0 we are getting error "Include of non-modular header inside framework module class : #import <FirebaseAuth/FIRAuth.h>" for objective -c project.

Libraries version
Using Firebase (5.0.0)
Using FirebaseAnalytics (5.0.0)
Using FirebaseAuth (5.0.0)
Using FirebaseCore (5.0.0)
Using FirebaseCrash (3.0.0)
Using FirebaseDatabase (5.0.0)
Using FirebaseInstanceID (3.0.0)
Usin

[2018-05-10 14:55] #445 closed

[2018-05-10 17:02] morganchen12 commented on #442
To check if it's an auth key issue, are you able to send notifications directly through APNs with the auth key? [This link](https://stackoverflow.com/questions/39943701/how-to-send-apns-push-messages-using-apns-auth-key-and-standard-cli-tools) may be helpful.

[2018-05-10 23:26] AndriyGo commented on #413
👍 I would love to see this feature added as well. At the moment I am resorting to subclassing the `FUIAuthPickerViewController` to add the link to our privacy policy above the buttons.

I guess the ideal solution would be to present the popup informing users about privacy policy once they select some authentication mechanism. Something like "by proceeding you accept the terms of our Privacy Policy

[2018-05-11 06:43] RachitTechnology opened #446 "Change Min OS Version mention in description to 9.0"
On Main page it says support for 8.0 + . However if we run on a device 4s we get below error

dyld: Symbol not found: _UIApplicationOpenURLOptionsSourceApplicationKey
  Referenced from: XXXX/Frameworks/TwitterKit.framework/TwitterKit (which was built for iOS 9.0)

[2018-05-11 06:44] RachitTechnology commented on #442
Thanks we will test and share result.

[2018-05-11 07:40] nole87 commented on #444
Any help with this issue ...

[2018-05-11 16:28] jeffpyke opened #447 "Documentation out of date"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-iOS/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-iOS/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If your issue concerns the Coco

[2018-05-11 17:32] #254 closed

[2018-05-11 17:34] morganchen12 commented on #446
This is _only_ the case for FirebaseTwitterAuthUI. All other components support 8.0.

If you want 8.0 support, remove Twitter from your Podfile (note that Twitter is included by default, so you may have to specify individual subspecs).

[2018-05-12 08:05] #446 closed

[2018-05-12 08:58] ghowen opened #448 "2 deprecation warnings, 1 documentation issue and 1 semantic issue after update to Firebase 5 / Xcode 9.3.1"
Pods/FirebaseUI/FirebaseAuthUI/AccountManagement/FUIAccountSettingsOperation.m:181:37: 'reauthenticateWithCredential:completion:' is deprecated: Please use reauthenticateAndRetrieveDataWithCredential:completion: for Objective-C or reauthenticateAndRetrieveData(WithCredential:completion:) for Swift instead.

Pods/FirebaseUI/FirebaseAuthUI/FUIPasswordSignUpViewController.m:183:14: 'createUserAndRetr

[2018-05-12 08:58] najdanovicivan commented on #125
@morganchen12  any thoughts on my suggestion ?

[2018-05-14 17:54] morganchen12 commented on #125
This mostly sounds good to me but the changing text seems potentially confusing. I don't have a better UX approach though.

@samtstern WDYT?

[2018-05-14 18:39] morganchen12 commented on #448
Fixed in e32847a7e7b6a3a9a1072254b2a6268aea2242e9.

Thanks for flagging these!

[2018-05-14 19:13] samtstern commented on #125
@morganchen12 how does the iOS flow differ from the Android flow?  On android we have:

  * A first screen that only has an email box and a "next" button
  * Three cases:
    * Never seen the email --> sign up screen
    * Email has a password already --> sign in screen
    * Email is linked to some social account --> move to that social flow

[2018-05-14 19:16] morganchen12 commented on #125
It's the exact same thing, but the issue we're trying to solve is before any of the three cases when entering the email we show "Sign In". In cases where the user doesn't have an account yet this led to confusion because there was no "Sign Up" text input.

[2018-05-14 19:19] samtstern commented on #125
Oh I see.  On Android we just say **Next** and it seems to satisfy both cases.

[2018-05-14 19:33] morganchen12 commented on #125
@najdanovicivan let's do this in two parts. We can implement the flag for disabling sign-up and only allowing sign-in since that's a separate issue.

[2018-05-14 19:34] samtstern commented on #125
@morganchen12 FWIW we have the 'allow new email accounts' boolean flag on android.

[2018-05-15 08:08] AsimmParvezz opened #449 "FirebaseUI-iOS cocoapods error"
Hi,

I am trying to install FirebaseUI pod to my iOS app. The project is in Swift. And I am getting the following error:
[!] Error installing FirebaseUI
[!] /opt/local/bin/curl -f -L -o /var/folders/nc/_qclv7q133l1p0w18r4ymx0h0000gp/T/d20180515-54028-q9vllt/file.zip https://github.com/firebase/FirebaseUI-iOS/releases/download/v4.5.0/FirebaseUIFrameworks.zip --create-dirs --netrc-optional

 The coc

[2018-05-15 19:10] morganchen12 commented on #447
Fixed in 42816a5f1f53bdb2d4c54de18a9eb8b9d517d660

[2018-05-15 19:10] #447 closed

[2018-05-15 19:12] morganchen12 commented on #434
This is more of a workaround than a legitimate fix. However, I'm not sure what's causing your error.

I'm going to close this issue until a consistent repro case surfaces.

[2018-05-15 19:12] #434 closed

[2018-05-16 10:30] AsimmParvezz commented on #449
Hi Morgan, the issue got resolved once I added the following line in pod file:
  platform :ios, '9.0'

Best Regards,
Asim.

[2018-05-16 16:32] nerdyc commented on #297
It looks like the SDK is close to supporting Carthage. Any update on when Firebase UI will have support too? This is especially important since the 5.0.0 releases don't have binary distributions any more.

[2018-05-16 16:54] #449 closed

[2018-05-16 16:55] morganchen12 commented on #297
I'll take a look at this and update this ticket with details. Don't have an ETA though.

[2018-05-16 17:15] najdanovicivan commented on #125
@samtstern can you provide complete explanation how does  'allow new email accounts' work on Android so that we can have similar functionality on iOS

[2018-05-16 18:02] morganchen12 commented on #125
`allowNewEmailAccounts` set to `NO` would only allow login from accounts with emails that already exist in the auth database. This is useful for invite-only services that don't allow direct sign-up, but still want to allow for people to use third-party providers.

So instead of going to the "register new user" flow, the Auth flow would always go to login.

[2018-05-16 18:09] najdanovicivan commented on #125
@morganchen12 in such case if only email and password method is enabled should FUIEmailEntryViewController be displayed or should we immediately display FUIPasswordSignInViewController ?

[2018-05-16 19:18] najdanovicivan commented on #125
Ok. I'll start working on it.

[2018-05-17 16:38] najdanovicivan commented on #125
I've submitted pull request for allowNewEmailAccounts. However I've noticed some additional things that have to be taken care off

1. Left bar button for closing the signup view 'cancelBarButton' is added in viewWillAppear method.  It will be good to add hideCancelButton parameter for FUIAuth. Does something similar exist on android ?

2. There is an issue in FUIAccountSettingsOperation line 183 c

[2018-05-17 17:33] morganchen12 commented on #125
1. You can go ahead and implement this, and we can just hold off its release if it's not in Android (cc @samtstern)

2. I'll push a fix for this. Tests on Auth are still broken due to a duplicate symbols issue.

3. @samtstern can you advise here?

[2018-05-17 20:00] samtstern commented on #125
@morganchen12

- I'd be OK if iOS was ahead of Android on this feature.
- Social logins are much harder to handle here since there's no separate "sign in" versus "sign up" API call.  I guess you could use the "get providers for email" method after successful social sign in and then check if the account is pre-existing but we didn't do that as it's pretty complex.

[2018-05-17 20:31] morganchen12 commented on #125
@najdanovicivan, go ahead and make that as a separate PR.

[2018-05-17 20:33] najdanovicivan commented on #125
@morganchen12  should we open a new issue for this or should I reference this one ?

[2018-05-17 22:08] najdanovicivan opened #451 "Disable close button"
Currently there is no way to disable the close button. Additionally I've discovered the issue with FUIPhoneEntryViewController. When it is displayed from FUIAuthPicker left bar button should be "Back" instead of close

[2018-05-17 22:16] najdanovicivan commented on #125
@morganchen12 I've created the issue #451 and submitted PR #452

[2018-05-17 23:41] morganchen12 commented on #125
Let's open a new issue.

[2018-05-18 10:29] xmborras commented on #227
@morganchen12 Hi! I'm seeing this error from time to time in execution time.... I know that this is probably because the child reference string is not valid but.... instead of making the app crash, would it be possible to have a "throw" on that method so we can just add a "try catch" to control this?

[2018-05-18 11:02] najdanovicivan commented on #125
@morganchen12 now the discussed features are implemented, but we haven't touch the subject hare. The issue is about differentiating between signup and login @samtstern said that Android use "Next" as the button title why don't we do the same on iOS in FUIEmailEntryViewController ?

[2018-05-18 11:19] najdanovicivan opened #453 "Samples are not compiling"
Samples have issue when compiling due to deprecated method

[2018-05-18 12:14] kamalupasena commented on #311
I have mange to add a customized UI but issue was after adding the UI `Sign in with email` option not working that button not even touch

[2018-05-18 12:47] Abhishek-NickelFox commented on #83
Hi, i also not getting that setting as mentioned above, also i have added appid and appsecret in firebase?

![screen shot 2018-05-18 at 6 14 31 pm](https://user-images.githubusercontent.com/27338504/40235362-a830a002-5ac7-11e8-98bb-16ec818b904e.png)

[2018-05-18 16:15] andygeers commented on #139
@protocol86 Would you advise against using that anonymous_updgrade_master branch in a production app that relied upon this functionality?

[2018-05-18 17:09] #453 closed

[2018-05-18 17:11] morganchen12 commented on #125
That sounds good. The distinction still isn't immediately clear, but it's an improvement over what we currently have.

[2018-05-18 17:11] #451 closed

[2018-05-18 17:14] morganchen12 commented on #227
@xmborras you should file an issue at https://github.com/firebase/firebase-ios-sdk.

The answer is likely no, though. Passing a bad path string in is always a programmer error, and shouldn't represent a general error (like an http load error) since creating a path from a valid string is not failable.

[2018-05-18 20:10] xmborras commented on #227
Actually, what I mean is that, even if this is a programmer error (in my case the string was well formated but there was no child with this ID on the database) an external library (an SDK) should never make the app crash. It may give you an error telling you that this child doesn't exists, but not making the whole app crash without the chance to control it.

Anyway, I will fill the issue form. Tha

[2018-05-19 12:16] najdanovicivan commented on #125
I'see that button ins FUIEmailEntryViewController has had title "Next" from the beginning. The issue I see is in the title which is "Sign in with email". Maybe good idea will be to change this title to "Enter your email" or something similar to exclude the reference to sing in action

[2018-05-19 16:43] Zengotim opened #456 ""No such module 'FirebaseAuthUI'" using cocoapods"
Hi,

I am getting the above error trying to start a project using CocoaPods version 1.5.2 in xcode 9.3.1 and iOS 11.3. My Podfile looks like this:

`# Uncomment the next line to define a global platform for your project
platform :ios, '9.0'

target 'Poker411' do
  # Comment the next line if you're not using Swift and don't want to use dynamic frameworks
  use_frameworks!

  # Pods for Poker411
  p

[2018-05-21 17:41] morganchen12 commented on #456
Change your import to `import FirebaseUI`.

This was a recent change in FirebaseUI 5 and is noted as part of our release notes. If there's out of date docs, please let me know.

[2018-05-21 17:41] morganchen12 commented on #125
Sounds good to me.

[2018-05-21 17:50] Zengotim commented on #456
https://firebase.google.com/docs/auth/ios/firebaseui <-- instructions here say "import FirebaseAuthUI"

Is there also a change to imports such as FirebaseTwitterAuthUI?

[2018-05-21 18:35] morganchen12 commented on #456
Yes, all imports should be changed to `import FirebaseUI.`

Thanks for pointing that out, I'll go fix it.

[2018-05-22 14:33] najdanovicivan commented on #125
@samtstern how is this done on Android. I can make a PR to change the title but I want to make sure that we have same things on both platforms

[2018-05-22 16:26] samtstern commented on #125
@najdanovicivan on Android the title is always "Sign in" on that screen, which I don't think is ideal.  So iOS can take the lead on improving that.

[2018-05-22 17:53] morganchen12 commented on #125
The most basic improvement would be to just change it from "Sign in" to "Sign in or Register".

As Sam said, we can make the changes in this repo before porting to Android.

[2018-05-23 16:37] Zengotim commented on #456
May i use this space for another question instead of opening a new issue?
I seem to be signing in okay, but the callback is not being called. There are a couple of issues which are similar, but do not directly apply and have not helped me fix this. As this app has no usefulness without account login, I am trying to take care of this all from the AppDelegate. I have declared the FUIAuthDelegate pro

[2018-05-23 17:19] morganchen12 commented on #456
Currently the auth view controller can't be used as the root view controller of your app. This was fixed recently, but hasn't made its way out in a release yet.

Other than that your code looks fine.

[2018-05-23 17:21] Zengotim commented on #456
Ah thank you. I'll use a NavigationController as root and drop the auth into that then. Thank you for your time, you've saved a lot of mine!

[2018-05-23 17:22] morganchen12 commented on #456
Closing for now, feel free to comment here if you run into more issues.

[2018-05-23 17:22] #456 closed

[2018-05-24 22:19] najdanovicivan commented on #125
@morganchen12 i was just looking at localization files and found this

/* Title for email entry screen, email text field placeholder. Use short/abbreviated translation for 'email' which is less than 15 chars. */
"EnterYourEmail" = "Enter your email";

Why don't we put kStr_EnterYourEmail as title since there is already localization for it. If we decide to use "Sign in or Register". we'll need tran

[2018-05-24 23:00] morganchen12 commented on #125
Let's do this for the time being.

[2018-05-24 23:11] #125 closed

[2018-05-29 14:32] vandadnp opened #458 "Huge security issue with Firebase UI both on iOS and Android"
### Describe your environment

  * Objective C or Swift:  Swift
  * iOS version: 11.x
  * Firebase SDK version: FirebaseCore (4.0.20)
  * FirebaseUI version: FirebaseUI (4.5.5)
  * CocoaPods Version: 1.5.0

### Step 3: Describe the problem:

When a user logs into her Google account inside our app through Firebase UI, she is also signed into her google account in Safari all of a sudden. This is a h

[2018-05-30 13:32] Zengotim commented on #456
Hi Morgan,
Just a note FYI as the only inconvenience this causes is a messy log file, but in my app, for all of the Twitter classes I get a message saying that the module is present in two paths which boil down to /yada/yada/yada/TwitterCore and /yada/yada/yada/TwitterKit and that one of them will be used and which one is undefined. Can one of these paths be safely deleted?

[2018-05-30 16:56] morganchen12 commented on #456
That's #402, and is a bug within TwitterKit. You can't really delete the paths since they're part of framework bundles in your app.

I'm not sure when this issue will be fixed, but the only real way to avoid it for now is to not use Twitter Auth.

[2018-05-30 17:26] Zengotim commented on #456
Oh! Sorry for the poorly researched post then, but thank you very much for responding!

[2018-05-30 18:48] samtstern commented on #458
@vandadnp the intention of closing an issue on this repo is not to kill discussion, but rather to signal that this is not a bug in FirebaseUI and therefore there's nothing meaningful that can be done in FirebaseUI to address it.

I can totally see how you find this behavior surprising, however Google Sign In (and most other social sign-in SDKs like Facebook and Twitter) were explicitly designed to

[2018-05-31 05:01] jtressle opened #459 "Customization Example : Modifying the screen flow (combining screens or skipping particular screens)"
The readme states that screen flow can be combined or skipped.  Are there any examples of this?

In particular, the email login / signup flow is a little excessive with new ViewControllers for each state change.  I'd like to hide / unhide relevant view items depending on whether an email exists or not.

If this is not possible, what does "Modifying the screen flow (combining screens or skipping pa

[2018-05-31 18:34] morganchen12 commented on #459
This is a bit of a stretch in our documentation. What it really means is you can skip the initial screen displaying the list of providers if you'd like to move directly to one of the providers. I'll clean up the docs to reflect this.

What sort of UI are you trying to build?

[2018-05-31 19:37] jtressle commented on #459
@morganchen12 thanks for the clarification.

Basically, I was trying to skip the EmailEntryViewController and go directly into the PasswordSignInViewController.

I'm going to use the standard flow as it works well.  The documentation had me curious though about the possibilities of customizing the flow.

[2018-05-31 19:52] morganchen12 commented on #459
Sounds good, I'll close this issue for now. If you have a more specific feature request in mind later, feel free to comment here or open a new issue.

[2018-05-31 19:52] #459 closed

[2018-06-01 04:27] steffenfrost opened #460 "Feature Request: remove Twitter consumer key secret in iOS sample auth app"
### Step 1: The problem

According to the iOS Twitter login documentation, there is no requirement to store the consumer key secret in the app: https://firebase.google.com/docs/auth/ios/twitter-login (btw, the setup step to  _"Add twitterkit-TWITTER_CONSUMER_KEY as a URL scheme in your Xcode project"_ is absent in that link).

In the ReadMe for this repo, it warns "please note that's it's not secu

[2018-06-02 00:55] steffenfrost commented on #460
Hi @morganchen12, thanks for attending to this.

I was wondering why the sample apps works without having to add the LSApplicationSchemes items in the info.plist for Twitter according to:

https://github.com/twitter/twitter-kit-ios/wiki/Installation

[code]

[2018-06-03 12:49] johnlandish opened #461 "How to link custom firebase Email / Password sign up to FirebasePhoneAuthUI user"
I have a custom sign up View controller using Firebase Email and password Auth create user. Once customer signs up, He has to verify phone number(Using FirebasePhoneAuthUI). I want to link the accounts once the user verifies phone number, but i cannot retrieve the verification code and Verification ID to link auth credential.

[2018-06-04 20:27] morganchen12 commented on #460
I'm not entirely sure. The `LSApplicationQueriesSchemes` values are responsible for opening your app from the Twitter app, but if the auth flow is done through a web view, then that's no longer necessary.

As for the docs, they should be fixed by the end of this week.

[2018-06-04 20:28] morganchen12 commented on #461
If you're not using the phone number for any auth purposes, you may want to consider just storing it as user information in a database somewhere. If you're using it as two-factor auth, linking accounts through FirebaseUI is the wrong approach. If you're using phone and email and password, it seems redundant for auth purposes.

[2018-06-04 20:35] nole87 opened #462 "Problem translating firebase UI in iOS swift project"
I have:

`authUI?.customStringsBundle = Bundle.main`

And FirebaseAuthUI.strings in my swift project and I need to translate firebase auth UI for iOS so I can realese my project but only few strings in app are translated other not. Where is the problem? Off course I translate it all!

[2018-06-04 20:35] johnlandish commented on #461
Hi,

I wanted to have 2 factor auth on sign up but then allow users the ability
to sign in with email or username & password. I believe Musical.ly &
Snapchat do this.

On Mon, 4 Jun 2018 at 9:28 pm, Morgan Chen <notifications@github.com> wrote:

[2018-06-04 20:42] morganchen12 commented on #461
FirebaseUI's email password flow doesn't support 2FA. You'll have to use a third-party provider or your own web service that requires 2FA.

Note that Firebase doesn't provide a way to distinguish between users who have 2FA enabled or disabled, nor does it provide a way to force 2FA at signup.

Unfortunately you'll have to do most of the legwork to support this use case.

[2018-06-04 20:48] johnlandish commented on #461
Sorry not 2FA. I meant I wanted user to have both email/password and phone
log in. Need number to as it’s a messaging app, so like WhatsApp and
Snapchat. Basic point is how do I link email/password auth user
(firebase)with firebasePhoneAuthUI password verification. I just need to be
able to obtain the the verificationID and verificiation code. Examples are
described for Email/password linked with

[2018-06-05 06:20] nole87 commented on #462
I resolve all, only cancel button item in top left I can't translate!

[2018-06-05 14:44] victor-sarda commented on #406
Hi,
Any news on this issue? I haven't tried FirebaseUI 5 yet but I just wanted to know if it's been added to this release? Thanks 👍

[2018-06-05 19:07] morganchen12 commented on #406
This hasn't been fixed in Firebase 5. I don't have an ETA on when it'll be fixed, unfortunately.

[2018-06-05 19:08] morganchen12 commented on #462
The cancel button isn't a string provided by FirebaseUI; it's just a system cancel button. The same should be true for all other cancel buttons in your app.

[2018-06-05 20:07] nole87 commented on #462
I know that but I must translate it, I must find the way for it. I already lose one day :)

[2018-06-05 20:52] johnlandish commented on #461
Is there a way to implement this?

[2018-06-05 21:35] victor-sarda commented on #406
Cool, thanks 👍

[2018-06-05 22:10] morganchen12 commented on #406
The proposed fix for this would just remove all elements in the array when it's invalidated, which increases the amount of computation but allows for FUIArray instances to be reused after invalidation.

Note that this is currently not an issue with FirestoreUI.

[2018-06-07 15:24] dschlaba opened #464 "iPad Email Sign In"
### Step 1: Are you in the right place?

  Yes. :)

### Step 2: Describe your environment

  * Objective C
  * iOS version: Deployment 10.0 / Devices 11.4
  * Firebase SDK version: 5.0.1
  * FirebaseUI version: 5.0.0
  * CocoaPods Version: 1.5.2

### Step 3: Describe the problem:

If the user selects Sign In with EMail, Name only appears if that e-mail address hasn't been used before. I'm assuming

[2018-06-08 00:38] steathy opened #466 "Runtime error for customized AuthPickViewController"
Error message:
terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Could not load NIB in bundle: 'NSBundle <xxxxxxx/FirebaseAuthUI.bundle> (not yet loaded)' with name 'xxxxxx.CustomizedAuthPickViewController

Here `CustomizedAuthPickViewController` is a subclass of `FUIAuthPickerViewController`. If I use the default `AuthViewController` everything works fine.

[2018-06-08 01:06] morganchen12 commented on #466
If you're not using a custom nib, you'll need to override the `initWithNibName:bundle:authUI:` method to use the nib named `FUIAuthPickerViewController`.

This will be fixed in the next version of FirebaseUI.

[2018-06-08 01:06] #466 closed

[2018-06-08 02:00] steathy commented on #466
Thanks for the quick reply. Do you mean overriding the init method of `FUIAuthPickerViewController` like below? What `nibName` should I use? I'm currently just using email and google login.

`override init(nibName nibNameOrNil: String?, bundle nibBundleOrNil: Bundle?, authUI: FUIAuth) {
        super.init(nibName: "", bundle: Bundle.main, authUI: authUI, email: email)
 }`

 I'm pretty new to swift

[2018-06-08 17:27] morganchen12 commented on #466
All you have to do is override the method; FirebaseUI will call it when creating the auth flow.

[code]

[2018-06-09 09:50] fobass opened #467 "No such module 'FirebaseUI'"
### Step 2: Describe your environment

  * Objective C or Swift: Swift
  * iOS version: 11.2
  * Firebase SDK version: 5.2.0
  * FirebaseUI version: 5.0.1
  * CocoaPods Version: 1.5.3

### Step 3: Describe the problem:
my pod
target 'Project' do
	pod 'Firebase', '>= 2.5.1'
	pod 'Firebase/Database'
	pod 'Firebase/Core'
	pod 'FirebaseUI'
  # Pods for Project
end
Open my project and build after in Ap

[2018-06-09 23:45] steathy commented on #466
Thanks I finally got it worked. This project really needs better tutorial and/or examples.

[2018-06-11 17:22] morganchen12 commented on #467
Can you share your `Podfile.lock`?

[2018-06-11 17:24] morganchen12 commented on #464
This probably won't be a priority feature for us, but we're always happy to review a PR.

[2018-06-11 23:42] morganchen12 commented on #461
Sounds like you'll want to link a phone auth credential to an email/password account. You can do this through Firebase, but this is likely not going to be a feature we add to FirebaseUI in the near future since it supports a fairly narrow use case.

If you'd like to submit this feature, I'm happy to review a PR.

[2018-06-11 23:43] johnlandish commented on #461
I figured out how to do it already.

Thanks for the help

On Tue, 12 Jun 2018 at 12:43 am, Morgan Chen <notifications@github.com>
wrote:

[2018-06-11 23:44] morganchen12 commented on #462
Since this is a string in a system button, I'm going to close this as it's not a FirebaseUI issue.

Keep in mind system buttons will use whatever localization language defined in the device's settings. If you want to override this, you'll have to customize the entire button since you don't have control over the string loading.

[2018-06-11 23:44] #462 closed

[2018-06-12 00:13] #461 closed

[2018-06-12 11:35] AnkitiOSiDev opened #469 "Ambiguous use of 'save'"
We are using Firebase and third-party SDK (BuiltIOBackend). We are trying to use 'save' method of BuiltIOBackend SDK, but we are facing issues regarding the same. Xcode is showing " Ambiguous use of 'save' " error.
Save method have same name FUIPasswordSignUpViewController file and BuiltIOBackend SDK file.

[2018-06-12 12:01] #469 closed

[2018-06-19 15:11] martinjbaker opened #470 "Docs update for FIRAuthDataResult > AuthDataResult renaming"
_FirebaseAuthUI/README.md_ needs updating in the "Sign in" section since FIRAuthDataResult has been renamed to AuthDataResult in Swift.

[code]

should be

[code]

[2018-06-19 18:28] #406 closed

[2018-06-19 20:08] samtstern commented on #275
This is done on Android:
https://github.com/firebase/FirebaseUI-Android/pull/1199

[2018-06-24 03:43] joemerritt opened #471 "Issue Updating FirebaseUI 5.0."
I've come across and issue when trying to update to version to 5.0. Below is the error msg.

I"m using xcode 9.4 cocoapods 1.5.3

[!] CocoaPods could not find compatible versions for pod "Firebase/Storage":
  In snapshot (Podfile.lock):
    Firebase/Storage (= 4.11.0, ~> 4.0)

  In Podfile:
    Firebase/Storage

    FirebaseUI (~> 5.0) was resolved to 5.0.0, which depends on
      FirebaseUI/Stora

[2018-06-25 17:47] morganchen12 commented on #471
what command did you run to update?

[2018-06-26 08:38] joemerritt commented on #471
HI Morganchen,

I updated the line in my podfile as normal.
pod rep update, followed by pod install.

am i missing something here?

[2018-06-26 08:47] Ankish commented on #139
@protocol86 : Any idea when anonymous_updgrade_master would be available for release version?

[2018-06-26 22:01] morganchen12 commented on #471
You should be running `pod update` to update your pods.

[2018-06-27 10:35] Idomo opened #472 "sd_setImage(with: StorageReference, placeholder: UIImage) not working"
### Step 1: Are you in the right place?

  Yes

### Step 2: Describe your environment

  * Objective C or Swift: Swift
  * iOS version: 11.4
  * Firebase SDK version: 5.3.0
  * FirebaseUI version: 5.0.1
  * CocoaPods Version: 1.5.2

### Step 3: Describe the problem:

#### Steps to reproduce:

I used the example from this page: https://github.com/firebase/FirebaseUI-iOS/tree/master/FirebaseStorageU

[2018-06-27 23:08] brb061494 opened #473 "App crashing when attempting to use a Custom FUIEmailEntryViewController"
Hello,

I'm trying to use a custom FUIEmailEntryViewController in my app. I've created a nib called 'CustomFUIEmailEntryViewController.xib' and created a CustomFUIEmailEntryViewController.swift class. I've implemented the FUIAuthDelegate method from my custom FUIAuthPickerViewController as follows:

`func emailEntryViewController(forAuthUI authUI: FUIAuth) -> FUIEmailEntryViewController {

[2018-06-27 23:34] brb061494 commented on #473
Adding other relevant info:

Objective C or Swift: Swift
iOS version: 10.3
Firebase SDK version: 5.3.0
FirebaseUI version: 5.0.1
CocoaPods Version: 1.5.3

[2018-06-28 00:07] morganchen12 commented on #473
Can you share the full stack trace with the exception message?

[2018-06-28 00:08] brb061494 commented on #473
Hi Morgan, unfortunately there is no output other than that.

[2018-06-28 00:23] morganchen12 commented on #473
You should be able to get the full message by attaching a debugger and just letting the program crash.

Also, double-check the nib file you're using is being included in your app target.

[2018-06-28 01:01] morganchen12 commented on #473
If you're running your app through Xcode, the debugger should be attached by default.

Can you share a project that reproduces this issue?

[2018-06-28 01:14] brb061494 commented on #473
I can't share the project with you, unfortunately. Can you explain what you're looking for? I attached the stack trace above already.

[2018-06-28 17:50] morganchen12 commented on #473
Sure. When apps crash trying to load nibs, there's always an exception message stating what the nib name was and which bundle the app was looking in. You can see this on some of the previous issues, like [this one](https://github.com/firebase/FirebaseUI-iOS/issues/290#issue-233231765).

Can you share a separate sample project that reproduces this issue, or try to reproduce it by modifying one of t

[2018-06-28 21:04] #471 closed

[2018-06-29 21:58] brb061494 commented on #473
Hi Morgan, I looked into the issue more and came to realize that the reason I'm not getting the output you're talking about is because the nib is actually be loaded successfully. The problem is that it is being loaded as a UIView instead of a CustomFUIEmailEntryViewController. For example, see this code snippet and output:

`print Bundle.main.loadNibNamed("CustomFUIEmailEntryViewController", owner

[2018-06-29 22:06] morganchen12 commented on #473
It looks like you've selected the file's owner type and not the type of the root object itself. Can you instantiate a controller from that nib regularly (not using FirebaseUI)?

[2018-06-29 22:21] brb061494 commented on #473
If you're talking about the root View there, there's no way to change that to any type of view controller in a nib. No, I'm not able to instantiate the controller regularly. If I change the File owner class to a regular UIViewController, I can instantiate it normally. But once I change the owner to a class that subclasses FUIEmailEntryViewController, I can't instantiate the controller.

[2018-06-29 22:40] morganchen12 commented on #473
Disregard my last comment, it was inaccurate.

Are you able to set the class to `FUIEmailEntryViewController` or another test `UIViewController` subclass?

[2018-06-29 22:47] brb061494 commented on #473
Do you mean make the file owner class FUIEmailEntryViewController? I tried that and it still failed:

`print Bundle.main.loadNibNamed("CustomFUIEmailEntryViewController", owner: self, options: nil)![0] as! FUIEmailEntryViewController`

`Could not cast value of type 'UIView' (0x1139dfff8) to 'FUIEmailEntryViewController' (0x10e794d48).`

[2018-07-02 18:12] morganchen12 commented on #473
Can you share a minimal sample that's not your main project?

[2018-07-05 09:58] joemerritt opened #474 "Issue with FirebaseUI 5.0.1 and FUIIndexTableView"
Hi All,

I've updated to FIrebaseUI 5.0.1 and when using FUIIndexTableViewDataSource no results are being returned. When using 4.0 this worked as expected however after the update nothing comes through. There are no errors it just does not work.

Can anyone else help with this or experiencing the same issue?
**************CODE********************************************

        var ref: DatabaseR

[2018-07-06 16:37] morganchen12 commented on #474
The behavior of the indexed data sources was changed in 5.0+. You now need to call the `observeQuery` method to start pulling data from Firebase.

See the [release notes](https://github.com/firebase/FirebaseUI-iOS/releases/tag/v5.0.0) for more details, and please comment here if you run into related issues.

[2018-07-06 16:37] #474 closed

[2018-07-07 02:59] joemerritt commented on #474
Thanks for you help as always Morganchen12, I'm still having trouble with what I want to achieve. Essentially I was to use an FUIIndexTableVIew with and Index and a data source to pull data. However when this gets up and running I was to reverse the stack to have the newest data first. I.e. like facebook/instagram etc etc.

Can you give me some advice on how to achieve this? (if you have an exampl

[2018-07-09 09:07] Ankish commented on #139
@protocol86 : Android has got an anonymous upgrade with auto sign in upgrade and iOS for our app is waiting for that release. Any idea when this could be done? We need to get a plan for our release features.

[2018-07-09 09:12] protocol86 commented on #139
Hi @Ankish, The master branch is close to being complete but not quite there yet (not fully tested). I will be taking a look at this shortly and update this thread.

[2018-07-09 20:12] morganchen12 commented on #474
You'll probably want to [reverse the items in your database via the query](https://stackoverflow.com/a/44443042/4158089) directly. `FUIIndexArray` is still a little inflexible and doesn't allow for reversing as easily as `FUIArray` does.

This will change in a future update, but I don't have a timeframe to give.

[2018-07-10 13:37] Ankish commented on #426
@morganchen12 : How do we access the session info from keychain.
Is there a snippet we can take a look at or possible keys with which it is stored ?
Can we also access that from an extension and authenticate the user ?

[2018-07-10 16:55] morganchen12 commented on #426
You can't explicitly fetch session information from keychain, but fetching authentication state will load session information from keychain if it's available. You cannot access it from an extension and authenticate the user; you must pass information from the host app.

[2018-07-11 09:49] arminasr commented on #311
@kamalupasena have you found a way how to fix this issue?

[2018-07-11 10:14] kamalupasena commented on #311
@arminasr  i have with the help of `FUIAuthPickerViewController`

[2018-07-11 17:35] gelosi opened #476 "FirebaseUI / FirebaseAuth Crash on phone number validation"
Welcome to FirebaseUI and thanks for submitting an issue!

✅ Please take a look at [open issues](https://github.com/firebase/FirebaseUI-iOS/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-iOS/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

✅ If your issue concerns the

[2018-07-11 17:54] morganchen12 commented on #476
Can you try adding the `-ObjC` linker flag to your build settings and running it again?

[2018-07-11 17:55] #467 closed

[2018-07-11 17:55] morganchen12 commented on #467
For people running into this issue, please make sure you're using FirebaseUI 5.0 or higher.

[2018-07-11 17:59] morganchen12 commented on #472
@Idomo I'm unable to reproduce this issue.

[2018-07-11 18:01] gelosi commented on #476
@morganchen12 it's there, I'm using a lot of ObjC stuff from pods...

[2018-07-11 18:02] morganchen12 commented on #442
@RachitTechnology is this still an issue?

[2018-07-11 18:04] morganchen12 commented on #371
This will be fixed partially in the next release. It'll no longer cause crashes, but may not correctly load strings from your bundled FUIAuth instances.

[2018-07-11 18:07] morganchen12 commented on #270
This is now how Firestore UI behaves, though the behavior has not been ported back to Database UI.

I'll close this issue for now and re-open it if there's more support for porting this behavior back to Database.

[2018-07-11 18:07] #270 closed

[2018-07-11 18:09] morganchen12 commented on #476
Can you share your project?

[2018-07-11 19:12] tvjensen commented on #83
The solution for me was rechecking the app secret. Previously, I had copied and pasted the secured text (the dots) into Firebase, but what I was actually pasting into Firebase was the dot symbols and not actually the app secret. In order to correct this, I had to hit "Show" next to the app secret in the Facebook app portal and then copy the app secret in its unhidden form.

[2018-07-12 04:13] RachitTechnology commented on #442
Got it working with APNs certificates but never got chance to test with your solution for APN's Authentication key.  Will close this for now

[2018-07-12 04:13] #442 closed

[2018-07-14 19:19] gelosi commented on #476
Hello @morganchen12 - want to save your eyes from bleeding, and my ass from infringement,
I'm happy to give you some part of data, let's start from `OTHER_LDFLAGS ` :

`grep "OTHER_LDFLAGS" -R . | grep GTM`

`./Pods/Target Support Files/GTMSessionFetcher/GTMSessionFetcher.xcconfig:OTHER_LDFLAGS = -framework "Security"`

`grep "OTHER_LDFLAGS" -R . | grep Firebase`

`./Pods/Target Support Files/Fire

[2018-07-14 19:21] gelosi commented on #476
Actually, I see now where's -ObjC is missing...

[2018-07-15 19:26] amadeu01 opened #480 "Error while trying to login with Phone Provider"
### Describe your environment

  * Objective C or Swift:  Swift
  * iOS version: ios 11.4.1
  * Firebase SDK version: Firebase/Auth (5.0.1) FirebaseCore (= 5.0.1)
  * FirebaseUI version: FirebaseUI/Auth (5.0.0) FirebaseUI/Phone (5.0.0)
  * CocoaPods Version: 1.5.3

### Describe the problem:

After trying to sign in with phone number, the app crashes.

#### Steps to reproduce:

1. Present Phone aut

[2018-07-16 12:20] amadeu01 commented on #480
I did this

[code]

Before the call of the `phoneProvider.signIn(withPresenting: self, phoneNumber: nil)`
And, it worked.

I believe it's an issue with cocoapods, which does not export the bundle of the xibs to the main bundle of the app, so you have to load the bundle...

[2018-07-16 19:55] morganchen12 commented on #476
Your comment seems to be missing the flags for your main app target (shows only Pod targets, unless I'm mistaken). Were you able to solve this?

[2018-07-18 02:07] tjbarber commented on #402
Same issue here, can't use FirebaseUI because of this.

[2018-07-18 03:00] radvansky-tomas commented on #262
Any update on this ? FirebaseUI email provider is creating user without name, even though its part of the wizard.

[2018-07-18 03:41] oligazar opened #482 "FirebaseAuthUI unable to login with phone number"
### Step 2: Describe your environment

  * Objective C or Swift: ____Swift
  * iOS version: _____10.0
  * Firebase SDK version: _____Using FirebaseCore (4.0.20)
  * FirebaseUI version: ____Using FirebaseAuth (4.6.1)
  * CocoaPods Version: ____1.5.0

### Step 3: Describe the problem:
I followed the [official tutorial ](https://firebase.google.com/docs/auth/ios/phone-auth) to implement authenticatio

[2018-07-18 17:34] morganchen12 commented on #262
@radvansky-tomas what versions of Firebase/FirebaseUI are you using?

[2018-07-19 13:40] anelad commented on #307
`FUIAuth.authViewController()` returns an UINavigationController. So this is the best and easiest way to accomplish what. you want:

[code]

Also, you can use `UIAppearence`.

In your `application:didFinishLaunchingWithOptions:` do:
[code]

The main problem is I still cannot find a way to change the color of GoogleSignIn / FacebookSignIn / TwitterSignIn pages' color. Any ideas?

[2018-07-19 13:42] anelad commented on #360
`FUIAuth.authViewController()` returns an UINavigationController. So you can do it like this:

[code]

Also, you can use `UIAppearence`.

In your `application:didFinishLaunchingWithOptions:` do:
[code]

[2018-07-19 14:32] tyridw commented on #311
I had a similar issue when trying to hide the "Cancel" button in the navigation bar. When I subclassed FUIEmailEntryViewController I had to follow the leads in:
https://stackoverflow.com/questions/41252812/could-not-load-nib-when-subclassing-fuiauthpickerviewcontroller
and came up with
[code]
which is returned by my view controller (that is set as delegate on my FUIAuth instance)
[code]

[2018-07-19 22:30] morganchen12 commented on #431
Looks like this was fixed a while ago but not closed in the PR. Closing now.

[2018-07-19 22:30] #431 closed

[2018-07-19 22:31] morganchen12 commented on #139
This has been released in 5.1.2.

[2018-07-19 22:31] #139 closed

[2018-07-19 22:32] morganchen12 commented on #350
This issue has staled. If you're running into the same configuration error, please file a new issue with your pod versions and the steps you took to integrate phone auth.

[2018-07-19 22:32] #350 closed

[2018-07-20 05:04] lswang1618 opened #484 "Updating to 5.1.2 breaks phone and Google auth"
Objective C or Swift:  Swift
iOS version: 11.4
Firebase SDK version:  FirebaseCore 5.0.5
FirebaseUI version: 5.1.2
CocoaPods Version: 1.5.2

### Step 3: Describe the problem:
Logging in using FirebaseUI with Google stalls on loading after selecting email without useful console messages. Tapping on Phone from the auth picker screen results in . Downgrading to 5.0.0 resolves both issues.

#### Steps

[2018-07-20 21:12] morganchen12 commented on #484
Can you provide the full stack trace of the crash?

[2018-07-20 21:21] morganchen12 commented on #484
I'm able to log in successfully using Google auth in the swift sample app in this repository.

[2018-07-21 03:18] lswang1618 commented on #484
For phone auth:
* thread #1, queue = 'com.apple.main-thread', stop reason = EXC_BAD_ACCESS (code=1, address=0xda9bf7c08)
    frame #0: 0x00000001835bc910 libobjc.A.dylib`objc_msgSend + 16
    frame #1: 0x0000000184e37ddc Foundation`_NSDescriptionWithStringProxyFunc + 64
    frame #2: 0x00000001843acc70 CoreFoundation`__CFStringAppendFormatCore + 8832
    frame #3: 0x00000001843ae740 CoreFoundation

[2018-07-21 03:57] oligazar opened #485 "Login with Facebook error: "User can not view this application due to developer settings""
Describe your environment

  * Objective C or Swift: ____Swift
  * iOS version: _____10.0
  * Firebase SDK version: _____4.0.20
  * FirebaseUI version: ____4.5.5
  * CocoaPods Version: ____1.5.0

### Describe the problem:

At first I was getting known `"This app is in development mode”` error when trying to auth with FirebaseUI + Facebook. This was solved by making the app "available to the genera

[2018-07-21 04:33] lswang1618 commented on #484
Ah, the issue for Google Auth is the line

authUI?.shouldAutoUpgradeAnonymousUsers = true

Is there anything else I need to do to enable auto upgrade?

[2018-07-23 05:51] arminasr commented on #311
The issue I had was solved by creating a navigation controller `rootNavigationController = authUI.authViewController()` and placing `fuiAuthPickerViewController` into it `rootNavigationController.setViewControllers([fuiAuthPickerViewController!], animated: true)`

[code]

[2018-07-23 18:14] morganchen12 commented on #485
This sounds like a Facebook issue and not a FirebaseUI issue. Consider also asking on StackOverflow or sending a ticket to [Facebook developer support](https://developers.facebook.com/support).

[2018-07-23 18:21] morganchen12 commented on #484
The auto-upgrade code should just work automatically. Can you check if this is the case for all Google account logins? It may be an edge case for logins that are already linked to anonymous accounts.

@Yue-Wang-Google FYI

[2018-07-23 18:33] morganchen12 commented on #484
I was able to log in successfully with `shouldAutoUpgradeAnonymousUsers` enabled for accounts that were not linked or being linked to anonymous accounts, so this isn't a regression, just a bug in new behavior.

Phone auth didn't crash either. Can you provide the format string that's being passed into the `stringWithFormat:` call before the crash (or share the project that reproduces the crashes)?

[2018-07-23 18:34] Yue-Wang-Google commented on #484
Ah, the `TermsSMS` translation string is using a different string format, and it is not updated for languages other than English.

see https://github.com/firebase/FirebaseUI-iOS/commit/1f49c883531295131665ad9af5ebced3301ed713#diff-ba025ad8f89db2a4711d0fb284befb9b

@morganchen12  what should we do in this case?

[2018-07-23 18:55] morganchen12 commented on #484
We should fix this by [updating the string localizations](https://github.com/firebase/FirebaseUI-iOS/pull/477#discussion_r202165445).

[2018-07-23 19:03] morganchen12 commented on #482
Are you running into the same error if you try to login via phone auth using one of the sample apps in this repo?

The page load that you dismissed was supposed to load a captcha to verify the user. After the captcha succeeds, the login SMS would be sent and the auth flow would continue.

[2018-07-23 19:09] Yue-Wang-Google commented on #484
The patch will fix the crash. original code has stack issue --- it's expecting 3 args from stack but instead gets only 1.

The fix will resolve crashing issue for all languages.

[2018-07-23 19:11] morganchen12 commented on #484
Reopening since the Google issue still remains.

[2018-07-23 20:49] wangjiejacques commented on #484
can you release a new version for this fix ?

[2018-07-23 22:02] morganchen12 commented on #484
@wangjiejacques the crash fix has been released in 5.1.3, but the google issue remains.

[2018-07-26 08:59] klwoon opened #487 "Can't tap the Terms of Service and Privacy Policy links during Phone Authentication"
* Objective C or Swift: Swift
  * iOS version: 11
  * Firebase SDK version: 5.4.1
  * FirebaseUI version: 5.1.3
  * CocoaPods Version: 1.5.3

### Step 3: Describe the problem:
Can't tap the `Terms of Service` and `Privacy Policy` links during Phone Authentication.

#### Steps to reproduce:

  1. Tap `Sign in with phone`
  2. Tap the `Terms of Service` and `Privacy Policy` links

#### Observed Resu

[2018-07-27 19:39] xuaninbox opened #489 "Localization missing for privacy policy"
* Objective C or Swift: swift
  * iOS version: 12.0
  * Firebase SDK version: 5.4.1
  * FirebaseUI version: 5.1.3
  * CocoaPods Version: latest

Localization is missing for the newly added terms of service and privacy policy

![photo-1](https://user-images.githubusercontent.com/5108256/43343156-0da9a1a0-919a-11e8-9fcb-641cd5a68de1.jpg)
![photo-1 1](https://user-images.githubusercontent.com/5108256

[2018-07-27 19:43] xuaninbox commented on #489
Also the cell selection style should be .none

[2018-07-28 06:02] oligazar commented on #485
I've asked on SO, with no luck. Facebook support replied that they "don't support unofficial Facebook SDKs". Maybe somebody can explain what the error message "User can not view this application due to developer settings" actually means?

[2018-07-29 12:20] swftvsn opened #491 "Add documentation how to transform firestore table datasource content before data is handed to the table"
Hi!

I saw that this is supported in Realtime Database (#183) and was wondering if there is any documentation available how to use this in Firestore applications?

Any help and pointers are appreciated, thanks!

[2018-07-30 00:14] yujia917 opened #492 "Different apps use the same authentication. How to disable it？"
Describe your environment

  * Objective C or Swift: Swift
  * iOS version: 11.2.6
  * Firebase SDK version: 4.9.0
  * FirebaseUI version: 4.5.5
  * CocoaPods Version: 1.5.3

Describe the problem:

I have three different targets in the same project. All the targets use the same database and they are for different types of users. Currently, if I install these three apps on my phone and login one of

[2018-07-30 20:05] Yue-Wang-Google commented on #489
We're working on the translation strings. It will take some time.

[2018-07-31 19:20] Kumuda123 opened #495 "[!] The 'Pods-Runner' target has transitive dependencies that include static frameworks: (FirebaseCore, FirebaseDatabase, FirebaseMessaging, FirebaseDatabase, FirebaseCore, FirebaseMessaging, FirebaseMessaging, FirebaseCore, and FirebaseDatabase)"
[!] The 'Pods-Runner' target has transitive dependencies that include static frameworks: (FirebaseCore, FirebaseDatabase, FirebaseMessaging, FirebaseDatabase, FirebaseCore, FirebaseMessaging, FirebaseMessaging, FirebaseCore, and FirebaseDatabase)

I get this error when i try to run pod install in the ios folder of my flutter app.

My podfile looks like this.
platform :ios, '9.0'

# CocoaPods analy

[2018-08-02 07:37] ethanzh commented on #438
How did you end up solving this?

[2018-08-02 08:25] IchordeDionysos commented on #439
Yeah I had kinda the same first impression... :)

For reference:
![screenshot 2018-08-02 at 10 24 16](https://user-images.githubusercontent.com/10195482/43571870-5650388a-963e-11e8-818d-50a12fe6a3e1.png)

[2018-08-02 15:48] kumar-chalasani commented on #482
I have the same situation - reCaptcha is shown, and after submitting the challenge to verify, it succeeds, but goes to about:blank.  and then the app crashes if i close the about:blank with Done.

according to the documentation, though, i should not even see a reCaptcha, though that's fine with me if it worked as it should (with login SMS code sent), but it doesnt right now.

i have separately val

[2018-08-04 02:44] lswang1618 commented on #484
@ibru since I think you added most of this functionality, would you possibly know how to address this issue?

[2018-08-06 17:25] morganchen12 commented on #484
@lswang1618 I'll take a look at the Google auth upgrade issue this week. It shouldn't affect upgrade with phone and email.

[2018-08-06 18:28] morganchen12 commented on #495
What version of CocoaPods are you using? You should be using version 1.5.0 or higher.

[2018-08-06 18:31] morganchen12 commented on #492
You should use three different Firebase projects in this case. Is there any reason you're using the same Firebase project for all three apps?

[2018-08-06 18:34] morganchen12 commented on #491
This isn't currently supported in Firestore. You can get away with more via more flexible querying in Firestore, but there's definitely use cases that aren't covered there.

I'll see if I can get this into the next release. cc @samtstern

[2018-08-06 18:44] morganchen12 commented on #485
The only thing I was able to find was this [Facebook developers page](https://developers.facebook.com/docs/apps/security/), which seems to suggest that all you have to do is toggle a setting in the app dashboard. However, since you're able to sign in on Android without issue, I doubt this is the cause of your problems. Are you able to reproduce this issue without FirebaseUI?

[2018-08-07 11:31] flamurbeqiri1 commented on #472
Anything new about this issue? as I'm having the same

[2018-08-07 13:54] lswang1618 commented on #484
Thanks Morgan!

[2018-08-07 14:58] ghowen commented on #448
I think these are actually fixed now, but we got a new one with the latest release:

Pods/FirebaseUI/FirebaseAuthUI/FUIPasswordSignUpViewController.m:179:16: 'createUserAndRetrieveDataWithEmail:password:completion:' is deprecated: Please use createUserWithEmail:password:completion: for Objective-C or createUser(withEmail:password:completion:) for Swift instead.

[2018-08-08 06:51] mickeyreiss-visor commented on #491
Is there a workaround for reversing firestore results on the client similar to #436?

[2018-08-08 17:53] morganchen12 commented on #491
You can use `order(by:)` on Firestore's `Query` type to sort the results the query returns.

[2018-08-08 19:50] mickeyreiss-visor commented on #491
That works, but I can’t figure out how to combine order and limit to produce a reversed feed. For example, this is useful in a chat interface, where I want to render the 30 latest messages, newest on bottom.

It would be helpful if the data source had an option to reverse the data source.

[2018-08-08 20:08] samtstern commented on #491
Ah ok I know what you're asking about.  In Realtime Database we called this
"limitToLast()" and it's definitely something we are missing in Cloud
Firestore!  We've discussed adding this, but you're right it's awkward
right now.

On Wed, Aug 8, 2018 at 12:50 PM Mickey Reiss <notifications@github.com>
wrote:

[2018-08-09 22:17] #495 closed

[2018-08-09 22:18] #492 closed

[2018-08-09 22:27] #460 closed

[2018-08-09 22:27] #487 closed

[2018-08-09 22:28] #448 closed

[2018-08-09 22:41] kumar-chalasani commented on #482
Hi MorganChen - I will try and send you a stack trace if I can get one.  I
have tried before but not been able to see any logs at all.   As for
whether The issue is reproducible from the build in GitHub,  I will try
that next week.

Thanks for your response.

On Thu 9 Aug 2018 at 13:24, Victor Idongesit <notifications@github.com>
wrote:

[2018-08-09 22:47] morganchen12 commented on #484
This should be fixed in 5.2.0. Please comment here if it's not and I'll reopen the issue.

Thanks!

[2018-08-09 22:47] #484 closed

[2018-08-09 22:51] morganchen12 commented on #230
Sign-up can now be disabled via the [`allowNewEmailAccounts`](https://github.com/firebase/FirebaseUI-iOS/blob/master/FirebaseAuthUI/FUIAuth.h#L182) property.

[2018-08-09 22:51] #230 closed

[2018-08-09 23:00] morganchen12 commented on #371
Closing for now. If you run into strings issues, please comment here.

[2018-08-09 23:00] #371 closed

[2018-08-12 05:49] r9hacks opened #501 "Only one country for phone auth?"
Can I force the FirebasePhoneAuthUI  to show only one country? because I'm linking the authentication by phone with In-App Purchase in iOS for selected countries.

[2018-08-13 12:43] r9hacks commented on #501
It look like I was using FirebaseAuth v4.1.1 so the FirebaseUI pod give me v4.2.0.
so after update pod using 'pod install --repo-update' I was able to install FirebaseAuth v5.0.2.
Then I was able to find FirebaseUI v5.2.0.

Thanks

[2018-08-13 13:43] r9hacks opened #502 "Auto Authenticate user after phone authentication?"
I successfully authenticate user with phone. Now I want auto authenticate him in AppDelegate using his credential. Is there a way to get the credential from FUIAuth or can FUIAuth do the authenticate with existing user?

[2018-08-13 16:18] morganchen12 commented on #502
Firebase Auth (FIRAuth) will automatically persist the app session between app launches. Is there anything else you need the app credential for?

[2018-08-13 16:46] Amerterasu opened #503 "Very small readme file change"
The readme file at line 244 needs a new line because when viewed it does not separate the sections about what is customizable and what isn't.

[2018-08-13 20:53] morganchen12 commented on #503
Fixed in 8f3f5df8f23f3354952782dbe6dfc15552d2a2c3, thanks!

[2018-08-13 20:53] #503 closed

[2018-08-13 23:57] lswang1618 commented on #484
Verified - thanks!

[2018-08-14 01:36] lswang1618 commented on #484
Ah, not sure what's happening, but providerData is empty when I set auto upgrade to true, but includes auth data when set to false.

[2018-08-14 02:27] morganchen12 commented on #484
@lswang1618 can you file a new issue for that and we'll take a look? This issue is starting to meander off topic.

[2018-08-14 13:09] lswang1618 commented on #484
Haha, yes sorry about that :)

[2018-08-14 13:25] lswang1618 opened #504 "Autoupgrade results in empty providerData"
iOS version: 11.4
Firebase SDK version: FirebaseCore 5.5.0
FirebaseUI version: 5.2.0
CocoaPods Version: 1.5.3

### Step 3: Describe the problem:
When FUIAuth.defaultAuthUI()?.shouldAutoUpgradeAnonymousUsers = true, calling Auth.auth().currentUser?.providerData[0] from func authUI(_ authUI: FUIAuth, didSignInWith authDataResult: AuthDataResult?, error: Error?) results in a nil value.

So the displa

[2018-08-15 12:49] maurostancato commented on #467
I have the same problem. I've installed FirebaseUI in my podfile ( pod 'FirebaseUI'), and I hadn't problems but when I import that on xcode I have that message error: no such module FirebaseUI.
I've downloaded the last version of FirebaseUI and import to my project but I still having the error.

[2018-08-15 18:39] amadeu01 commented on #480
@morganchen12 I guess that this issue might be related to the fact I'm using Objective-C and Swift on that project. Because, now, I'm having the problem with other class

[code]

[2018-08-15 18:48] amadeu01 commented on #480
And, now it is crashing with this:

[code]

[2018-08-15 19:02] morganchen12 commented on #467
What version of CocoaPods are you using? Can you upload a sample that reproduces this issue?

[2018-08-15 19:03] morganchen12 commented on #480
@amadeu01 Sorry for the slow response here. Can you share your project? It sounds like there are a number of issues going on, all of which could potentially be FirebaseUI bugs.

[2018-08-15 20:09] amadeu01 commented on #480
@morganchen12 my project is on a private gitlab repository, but I can share it with you. Could you give me your username on gitlab?

[2018-08-15 20:32] morganchen12 commented on #480
I don't have a gitlab account, but you can just email me a zip at morganchen at google.com.

[2018-08-16 19:25] mickeyreiss commented on #491
@samtstern Anything to share on plans for this feature? We are currently using a wrapper library called [Pring](https://github.com/1amageek/Pring) which adds support for this.

[2018-08-17 08:22] bank18651 opened #507 "Error when fetch providers with email"
#### Describe your environment

  * Swift
  * iOS version: 11.4
  * Firebase (5.6.0)
  * FirebaseAuth (5.0.3)
  * GoogleSignIn (4.1.2)

#### Steps to reproduce:

  Auth.auth().fetchProviders(forEmail: email)

#### Observed Results:

[code]

[2018-08-17 09:45] fedkis commented on #343
I spent a lot of time because I encountered the bug in my project.
I just changed
[self presentViewController:authViewController animated:YES completion:nil];
to
[self.view.window.rootViewController presentViewController:authViewController animated:YES completion:nil];

and the problem disapeared.

[2018-08-17 17:00] morganchen12 commented on #507
Looks like your project may be missing the `-ObjC` flag in `Other Linker Flags`. How are you integrating FirebaseUI?

[2018-08-17 17:03] morganchen12 commented on #480
Thanks! I'll take a look within the next few days.

[2018-08-20 02:48] bank18651 commented on #507
I also have `-ObjC flag` in `Other Linker Flags`.
The project did not use FirebaseUI.
Currently, The project use   `Firebase (5.0.1), Firebase/Auth (5.0.1), GoogleSignIn (4.1.2` and it working well but after update to `Firebase (5.6.0), FirebaseAuth (5.0.3)` I got the issue.

[2018-08-20 03:23] #507 closed, assigned to morganchen12

[2018-08-20 14:44] r9hacks opened #508 "Accessing keychain error!!"
During auth by phone after entering the 6-digit I got this error:

An error occurred when accessing the keychain. The @c NSLocalizedFailureReasonErrorKey field in the @c NSError.userInfo dictionary will contain more information about the error encountered

first I try enable keychain sharing in the capabilities its work for the first time then after sign-out and re-auth I get this error.

Any idea

[2018-08-20 14:51] r9hacks opened #509 "how to change FUIPhoneAuth language?"
I wanna change the language to Arabic for FUIPhoneAuth so try using this:

FUIAuth.defaultAuthUI()?.auth?.languageCode = "ar"

but still it give me the default language of the device.

[2018-08-20 16:48] morganchen12 commented on #509
This is currently unsupported; FirebaseUI always uses the default language of the device. We're unlikely to add this feature in the near future but if you're willing to submit a PR I'm happy to review it.

[2018-08-20 16:49] morganchen12 commented on #508
Can you print the full error object and post it here?

[2018-08-20 17:30] r9hacks commented on #508
how to print full error object? I can have two variable only under error,
localizedDescription (same as above) &  debugDescription

Optional(Error Domain=FIRAuthErrorDomain Code=17995 "An error occurred when accessing the keychain. The @c NSLocalizedFailureReasonErrorKey field in the @c NSError.userInfo dictionary will contain more information about the error encountered" UserInfo={NSLocalizedDesc

[2018-08-20 18:43] r9hacks commented on #508
Im running this on device.
Also I try disable keychain sharing from capabilities and the error is gone, but only for one time.
then it start showing again even when keychain sharing is On.

[2018-08-20 19:00] r9hacks commented on #508
After adding my phone number for test in firebase the error is gone, is this a random error or just in development? also can I disable the alert message that come on screen, I don't wanna show this kind of message to the user.

[2018-08-20 21:01] morganchen12 commented on #508
From what you've described, it sounds like a random error/bug. Adding your phone number in Firebase console for testing purposes shouldn't affect Keychain behavior.

[2018-08-24 17:42] morganchen12 commented on #504
I won't have time to look at it this week, but will try to address this next week.

[2018-08-24 17:52] lswang1618 commented on #504
Okay thanks!

[2018-08-25 16:35] hlbp commented on #279
im have this problem by creating a user whit a colombian number "+573234686974"

[2018-08-29 20:28] morganchen12 commented on #504
After combing through the code, I'm not entirely sure if this is a bug in FirebaseUI (don't worry though, we can still push fix for it upstream). Does refreshing the user correctly populate the `providerData` dictionary?

[2018-08-30 02:29] lswang1618 commented on #504
Debugged a little more, so if the authUI.shouldAutoUpgradeAnonymousUsers = false, the user is signed in through the provider and providerData is set, but if authUI.shouldAutoUpgradeAnonymousUsers = true, then the user is still an anonymous user even after logging in through a provider.

[2018-08-30 20:34] morganchen12 commented on #368
We recently exposed the `incrementActivity` and `decrementActivity`, which you can override in your custom subclass to disable adding or removing the activity indicator.

[2018-08-31 00:59] lswang1618 commented on #504
authDataResult is nil in func authUI also

[2018-09-03 21:59] yujia917 opened #514 "FUIAuthDelegate not called in AppDelegate"
### Step 2: Describe your environment

  * Objective C or Swift:  Swift
  * iOS version: 11.2.6
  * Firebase SDK version: 5.5.0
  * FirebaseUI version: 5.1.3
  * CocoaPods Version: 1.5.3

### Step 3: Describe the problem:

#### Steps to reproduce:

  1. in AppDelegate, check whether current user is nil. If it's nil, make AuthUI as the root view controller:

    if let _ = Auth.auth().currentUser {

[2018-09-03 22:12] yujia917 commented on #514
Please refer to this link. My issue is the same:

https://stackoverflow.com/questions/48012332/why-fuiauthdelegate-delegate-methods-dont-get-called-from-appdelegate

[2018-09-04 18:30] 0x7fs opened #515 "Support One Time Code AutoFill on iOS 12"
This ticket describes how to add support for allowing iOS 12 to autofill SMS 2FA codes into the text box in the phone verification view controller. This is similar to #384 which describes setting the field's [`textContentType`](https://developer.apple.com/documentation/uikit/uitextinputtraits/1649656-textcontenttype?language=objc) for types like username, password and phone number.

I believe the

[2018-09-04 18:52] morganchen12 commented on #514
Can you share your project?

[2018-09-04 20:31] yujia917 commented on #514
The following is the code in AppDelegate. I created an empty project in Xcode, and only modified AppDelegate file. All other files are not touched.  The user did login, but the auth ui didn't dismiss and the delegate didn't get called. please let me know if you need more info?

import UIKit
import Firebase
import FirebaseUI

@UIApplicationMain
class AppDelegate: UIResponder, UIApplicationDelegate

[2018-09-05 00:09] morganchen12 commented on #504
Looking at the project, it looks like it's missing several files (fonts/images) and doesn't build off of a clone. I can replace these with placeholders for now.

[2018-09-05 02:39] lswang1618 commented on #504
Ah, sorry, I've mostly been working locally so didn't sync every file. But let me know if I can help with anything.

[2018-09-05 09:09] victor-sarda opened #517 "Crash: [FUIArray insertSnapshot:withPreviousChildKey:]"
### Describe your environment

  * Objective C or Swift: **Swift**
  * iOS version: **10.2.0**
  * Firebase SDK version: **5.6.0**
  * FirebaseUI version: **5.2.0**
  * CocoaPods Version: **1.5.0**

### Describe the problem:

We got a crash report this morning that says
[code]
I was not able to reproduce this unfortunatly and it looked like a FirebaseUI to me and not something coming from our side

[2018-09-05 14:36] victor-sarda commented on #504
Hi, I'm having the same issues here.

When I enable `shouldAutoUpgradeAnonymousUsers` it does convert the anonymous user to a permanent user **if it did not exist** but won't call the `func authUI(_ authUI: FUIAuth, didSignInWith authDataResult: AuthDataResult?, error: Error?)` auth delegate method.

Also, when I try to sign in still with `shouldAutoUpgradeAnonymousUsers` enabled from an anonymous

[2018-09-05 17:50] morganchen12 commented on #517
Do you ever invalidate your `FUIArray`?

[2018-09-05 18:06] morganchen12 commented on #517
To clarify, the extremely large indexes here are `NSNotFound` values, which shouldn't appear since `previousChildKey` should always exist in the array when the insert/delete/move/change methods are called.

[2018-09-05 20:54] codemodouk commented on #504
I'm seeing the same issues described above. Additionally, when I have `shouldAutoUpgradeAnonymousUsers = true` and sign up a user that didn't previously exist, the Identifier on the Firebase Console Authentication page doesn't get updated with the user's email id. However, if I search for the email id, I can locate the user that was created. See image.

<img width="483" alt="screen shot 2018-09-05

[2018-09-05 22:39] morganchen12 commented on #504
#512 partially fixes this issue, the fix to the behavior @victor-sarda describes is in #519.

[2018-09-05 22:47] lswang1618 commented on #504
Thanks for the update! Does #512 also populate authDataResult even if there's a mergeConflict error?

[2018-09-05 22:56] morganchen12 commented on #504
No. The docs around this are _exceedingly_ poor, but the merge conflict error basically means the two accounts can't be properly joined, since they both have their own separate account state that can't be resolved cleanly. In the case where this error arises, you should take the auth credential out of the `userInfo` dictionary of the error and [use it to sign in](https://firebase.google.com/docs/r

[2018-09-05 23:11] #504 closed

[2018-09-05 23:33] morganchen12 commented on #504
I'll submit a PR for the docs shortly.

[2018-09-06 00:18] radvansky-tomas opened #520 "Twitter Login"
With latest firebase UI, I cannot login/register using twitter social login.

First of all, library is making duplicate classes:

`objc[2726]: Class TWTRUserAuthRequestSigner is implemented in both /private/var/containers/Bundle/Application/2167ED41-636F-4826-8EDA-606398020CFB/timerush.app/Frameworks/TwitterKit.framework/TwitterKit (0x1071982e8) and /private/var/containers/Bundle/Application/2167E

[2018-09-06 15:43] codemodouk commented on #504
Hi, I've merged #519 into my project and when I attempt to sign in an existing user from an anonymous user the delegate method isn't being called. However, the delegate method is called when I sign up a new user from an anonymous account.

[2018-09-06 17:57] yujia917 commented on #514
Any update?

[2018-09-06 19:18] morganchen12 commented on #514
I may not have time to investigate this issue this week, but will try to take a look next week.

[2018-09-07 12:32] victor-sarda commented on #517
Can you confirm dataSource.unbind() is invalidating the `FUIArray` ?

[2018-09-07 17:15] morganchen12 commented on #517
It is. The arrays are supposed to be reusable after invalidation, though, so this is a bug.

[2018-09-07 19:05] morganchen12 commented on #504
The fix has been released in 5.2.1.

[2018-09-07 19:11] victor-sarda commented on #517
Yeah sure, no problem, I'll do that 👍

[2018-09-08 22:59] machoblue commented on #467
I want to authenticate with FirebaseUI. But, I have the save problem. Please tell me how to resolve it.

### Step 2: Describe your environment

  * Objective C or Swift: Swift 4.1.2
  * iOS version: 11.4.1
  * Firebase SDK version: I can't find this version. Please see Podfile.lock.
  * FirebaseUI version: 5.2.1
  * CocoaPods Version: 1.5.3

### Step 3: Describe the problem:

#### Steps to reprodu

[2018-09-11 05:40] r9hacks commented on #508
I think It's a random bug, because sometimes it logged me in without errors.Now, after I sign out using Auth.auth().signOut() and try to use FurebaseUI phones I get this Error

Sep 11 08:20:57 <Error>: 5.7.0 - [Firebase/InstanceID][I-IID010003] Unable to generate keypair.
Sep 11 08:20:57 <Error>: 5.7.0 - [Firebase/InstanceID][I-IID010009] Keypair could not be loaded from Keychain. Error: Error Dom

[2018-09-11 17:37] morganchen12 commented on #508
@r9hacks I commented in your other issue--make sure you have the appropriate background modes enabled.

[2018-09-16 03:51] yujia917 commented on #514
any update?

[2018-09-18 01:02] msaia35 opened #526 ""Module 'FirebaseUI' not found" ('FirebaseCore' also not found)"
Step 2: Describe your environment

  * Objective C or Swift: Objective C
  * iOS version: 10.3
  * Firebase SDK version: 5.8.0
  * FirebaseUI version: 5.2.2
  * CocoaPods Version: 1.5.3

Step 3: Describe the problem:

I added the Firebase framework to my podfile with no issue. I followed that up with trying to add the FirebaseUI framework. When I try to run my project, I receive an error in AppDel

[2018-09-18 02:27] morganchen12 commented on #526
`FirebaseUI` should have a lowercase `b` and you should be specifying `use_frameworks!` in your Podfile.

[2018-09-18 02:27] #526 closed

[2018-09-18 02:47] msaia35 commented on #526
Neither of those worked, I am going to post a new issue

[2018-09-20 07:11] mohayoub commented on #482
the same problem here .. any help :?

[2018-09-20 11:48] DilipMobi commented on #279
"+1 323-123-4567" Try sending with this format. you will get VerificationID for sure

[2018-09-24 16:26] andyboyd opened #529 "Country codes in phone number field being treated as invalid"
### Step 2: Describe your environment

  * Objective C or Swift: Swift
  * iOS version: 12
  * Firebase SDK version: 5.8.1
  * FirebaseUI version: 5.2.2
  * CocoaPods Version: 1.5.3

### Step 3: Describe the problem:

Phone number validation fails if the user enters the country code in the phone number field

#### Steps to reproduce:

  1. Enter phone number authentication flow
  2. Select a count

[2018-09-26 08:28] tndttan opened #533 "FUIAuthDelegate not called for anonymous login"
### Step 2: Describe your environment

  * Objective C or Swift: Swift
  * iOS version: 11.4
  * Firebase SDK version: 5.9.0
  * FirebaseUI version: 5.2.2
  * CocoaPods Version: 1.5.3

### Step 3: Describe the problem:

When 'authViewController' is set as the rootViewController, FUIAuthDelegate 'didSignInWith' methods are not called on successful anonymous login.

The problem does not occur when '

[2018-09-30 01:48] aleczadikian commented on #245
Any resolution here? Maybe I'm missing something, but I don't see an obvious way to do this.

[2018-10-01 16:36] amadeu01 commented on #480
hi @amratab

i did

[code]

[2018-10-01 23:37] amratab commented on #480
This same solution was present in this thread itself. But it was giving me error that FUICodeField was not found. Finally I could solve it by going through the installation steps again. I had not added the reversed domain URL in Info.plist. Once I did that, everything started working fine.

[2018-10-02 19:10] red42 commented on #491
I wrote a [drop-in replacement in Swift](https://github.com/red42/FilteredFirestoreDataSource) for FUIBatchedArray and FUIFirestoreCollectionViewDataSource that supports filtering if anybody needs that functionality right now. I want to implement map as well, but I'm not quite sure how to or if I should modify a DocumentSnapshot.

[2018-10-03 10:55] hawk-ukr commented on #476
@gelosi hi, i'm having the same issue. Did you manage to fix it? Could you please provide more details?

[2018-10-03 13:00] hawk-ukr commented on #476
My issue was resolved only by moving back to FirebaseAuth 4.6.1 (version that I previously used) instead of the latest 5.0.4 atm.

[2018-10-07 00:53] markuswinkler commented on #482
same here. Does this work for anyone?

[2018-10-10 12:03] OlivierVoyer opened #538 "FUIArray is not correctly invalidated and cannot be restarted"
### Environment

  * Objective C or Swift: ____ SWIFT
  * iOS version: _____ iOS 12.0
  * Firebase SDK version: _____ 5.9.0
  * FirebaseUI version: ____ 5.2.2
  * CocoaPods Version: ____ 1.5.3

### Problem:

The FUIArray handles are not removed from their storage once the listeners are removed when invalidating the array. Thus calling observeQuery gain does not recreate the listeners.

#### Steps

[2018-10-10 12:16] OlivierVoyer opened #539 "Useless duplicated handles for FUISortedArray"
### Environment

  * Objective C or Swift: ____ SWIFT
  * iOS version: _____ iOS 12.0
  * Firebase SDK version: _____ 5.9.0
  * FirebaseUI version: ____ 5.2.2
  * CocoaPods Version: ____ 1.5.3

### Problem:

The FUISortedArray is declaring an extra storage for handles whereas it is never used.

#### Steps to reproduce:

  1. _____ Instantiate a FUISortedArray
  2. _____ Use the debugger and check

[2018-10-10 22:40] #538 closed

[2018-10-10 22:40] #539 closed

[2018-10-11 05:50] OlivierVoyer commented on #538
Thanks @morganchen12 . When can we expect a new release?

[2018-10-18 08:21] entaku0818 opened #547 "Treat phone number like email in phone auth flow"
* Swift4.2
  * iOS version: 11
  * FirebaseUI/Auth (5.2.2)
  * FirebaseUI/Phone (5.2.2)
  * CocoaPods Version:  1.5.3

#### Expected Results:
 * I expect the following two actions

1. Anonymous user can signup by phone number.
   This user become phone "number number user" and have a user info when anonymous user.
2. Anonymous user can login by phone number, if phone number user was login in the p

[2018-10-18 10:39] RJiryes commented on #482
We have the same issue.. @markuswinkler, did you find a solution?

[2018-10-18 20:33] morganchen12 opened #549 "Re-enable Auth UI Tests"
They've staled and broken a bit, and were disabled due to duplicate dependency issues.

[2018-10-19 02:36] entaku19890818 commented on #547
Thank you for the response.
This error message is below.

[code]

[2018-10-20 12:56] IchordeDionysos opened #550 "Paging helper for Firestore queries"
Hi,

Just thought how one could easily integrate some paging for a long list like an activity which should ideally not loaded all at once rather incrementally if the user needs to.

And my thought was: Well we could build something ourselves, but then I thought this is a rather repetitive task so I think it would be great to get this behavior in something like FirebaseUI.

The idea is we developer

[2018-10-22 05:28] keshavx11 commented on #348
Facing the same issue for multiple users based in U.K.
Country code +44

[2018-10-22 10:16] victor-sarda commented on #508
Hi, we just got a report with the same issue this morning.
I'm using **Firebase 5.10** with **FirebaseUI 5.2.2**
This happened on an **iPhone 5** running **iOS 10.3.3**.

Reports says:

I don't have keychain sharing enabled, do you think enabling it would fix the issue? Thanks

[2018-10-22 17:28] morganchen12 commented on #550
We're making some improvements to `FUIArray` in this area. This is something we could build into a data source, but for the time being it's something you'll have to build on your own. You can do this by:

- Make a query with some base limit (say, 50 elements), and using an `FUIArray` instance to load the query.
- Track the user's scroll position.
- When the user is almost at the end of the list, c

[2018-10-25 05:00] aleczadikian commented on #311
Since I don't have a NIB, I specified nil for the NIB name, and that worked:

[code]

[2018-10-25 12:54] Swoop12 commented on #467
I'm having the same issue.  I'm on FirebaseUI (5.2.2) and I've aslo installed Firebase/Core, but still I get the same error.  New to developing and would love any suggestions anyone has?
![screen shot 2018-10-25 at 6 52 00 am](https://user-images.githubusercontent.com/30995492/47501349-8fed9580-d822-11e8-9318-3b7f2fe5a2bb.png)

Here is my Podfile:
# Uncomment the next line to define a global platf

[2018-10-25 18:08] nudpakun commented on #514
Your solution is worked!

[2018-10-25 18:09] nudpakun commented on #514
But my Xcode has fixed some code like:

   func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey: Any]?) -> Bool {
        FirebaseApp.configure()
        self.loadMainVC()
        return true
    }

[2018-10-25 23:55] morganchen12 commented on #467
@Swoop12 you'll need to uncomment `use_frameworks!` in your Podfile.

[2018-10-26 15:43] Swoop12 commented on #467
Morgan, You’re the man!

Reading through the forums it seem like you’ve got the answer to everything!

Thank you!

Trevor Adcock

[2018-10-29 11:49] joemerritt opened #553 "Firebase UI Database very slow to load content"
Hi All,

I'm currently using FIrebaseUI to load data by simply connecting a query to a tableview. When loading the initial the tableview the datasource goes through all nodes in "Adverts".

As i have a lot of nodes this take a prolonged amount of time. IE. "Datasource Started" is call the number of times that I have nodes. Once finished the data works the way i want and it's call as needed ..... I

[2018-10-30 08:29] entaku19890818 commented on #547
I know.

I wanted to make the following logic
`When that phone number was using "sign in", if it was not using "signup."`

I guess it's hard
I think it would be good for the user input to "sms code" again when that phone number was using.

Thank you your help.

[2018-10-31 17:01] morganchen12 commented on #553
Can you run an instruments trace to see what's taking up the most time?

[2018-11-05 15:19] hb-iltisberger opened #557 "New release?"
Hey Guys,

wouldn't you like to release the last 44 commits in a new release?
Thanks and keep up the good work!

Cheers

[2018-11-05 17:57] morganchen12 commented on #557
Hey @hb-iltisberger, the reason there hasn't been a release in a while is we're gearing up for a major breaking version release, so we're trying to get as many breaking API changes in as possible.

Thanks for your patience :)

[2018-11-05 18:40] IchordeDionysos opened #558 "Translations files out of sync"
* Objective C or Swift: all
  * iOS version: all
  * Firebase SDK version: all
  * FirebaseUI version: 5.2.2
  * CocoaPods Version: all

### Step 3: Describe the problem:
The English localizable has different translation key-value pairs for privacy policy and terms of service as other languages:
https://github.com/firebase/FirebaseUI-iOS/blob/master/FirebaseAuthUI/Strings/en.lproj/FirebaseAuthUI.s

[2018-11-05 19:12] morganchen12 commented on #517
Closing for inactivity, please comment again if the crash reappears.

[2018-11-06 12:38] hb-iltisberger commented on #557
Hey Morgan,

thanks for the info.

Concerning the changes to the FUIFirestoreCollectionViewDataSource you guys did in PR-545:
Shouldn't they be applied to the FUICollectionViewDataSource too?
Because I am facing the exact same problem for Firebase (UI 5.2.2) as well.

See:
https://github.com/firebase/FirebaseUI-iOS/pull/545/files

[2018-11-06 17:20] ulukaya opened #560 "Anonymous Auth didSignin method isn't called"
Even though https://github.com/firebase/FirebaseUI-iOS/blob/master/FirebaseAnonymousAuthUI/FUIAnonymousAuth.m#L128

authUI didSignin method is not called after a successful sign in.

[2018-11-06 20:10] ulukaya commented on #560
Seems like because both credential and callback is coming nil from anonauth, we are dismissing early without doing any callback.
https://github.com/firebase/FirebaseUI-iOS/blob/master/FirebaseAuthUI/FUIAuth.m#L173

[2018-11-06 21:13] ulukaya commented on #560
[This function](https://github.com/firebase/FirebaseUI-iOS/blob/master/FirebaseAnonymousAuthUI/FUIAnonymousAuth.m#L114) should somehow return the authResult and that authResult should be used as
[self invokeResultCallbackWithAuthDataResult:authDataResult error:error];
in [here](https://github.com/firebase/FirebaseUI-iOS/blob/master/FirebaseAuthUI/FUIAuth.m#L180).

[2018-11-06 21:17] ulukaya commented on #560
Here's my hacky workaround for now.
`    if (self.auth.currentUser.isAnonymous && !credential) {
      if (result) {
        result(self.auth.currentUser, nil);
      };
      // Hide Auth Picker Controller which was presented modally.
      if (isAuthPickerShown && presentingViewController.presentingViewController) {
        [presentingViewController dismissViewControllerAnimated:YES completion:n

[2018-11-06 23:07] ulukaya opened #561 "Merging/converting from anon user to Google user doesn't up merge photourl and displayName"

[2018-11-08 13:11] DKucheryavyh commented on #517
@morganchen12 was able to reproduce very similar behavior with removeSnapshot and NSNotFound
We have some Lambdas processing the database on childAdded event (and removing some of those if a condition is met).
We've traced it to a race condition, where some of the devices get those remove events before they get an actuall "add" event for that item. Maybe something similar applies to this case as w

[2018-11-09 10:59] DKucheryavyh commented on #517
[code]
To be more specific, here is the stack trace.
The `self.snapshots` doesn't contain specific key by the time the `indexForKey:(NSString *)key` is called.
`Database.database().reference().child(path).queryLimited(toLast: 20)` - query.
Database is updated frequently (both on the client side and by the cloud function to remove illegal records which have passed trough the client-side validation)

[2018-11-09 20:54] eeschiavo opened #565 "Unable to login through Google and Facebook on iOS 10 and iPhone 5c"
### Environment

  * Objective C or Swift: Swift
  * iOS version: 10.3.3.
  * Firebase SDK version: 5.9.0
  * FirebaseUI version: 5.2.2
  * CocoaPods Version: 1.5.3

### The problem:

I built a simple application following the [official tutorial](https://firebase.google.com/docs/auth/ios/firebaseui). The app does nothing special, just authenticate. It's working correctly both on simulator (iOS 12)

[2018-11-09 21:41] eeschiavo commented on #565
I'm sorry I'm not sure to understand the question. The video is actually from my iPhone5c attached to Xcode (sorry for my English)

[2018-11-09 22:48] morganchen12 commented on #565
There's a sample app included in this repository in the `samples/swift` directory. Can you try reproducing this issue on your device with those sample projects?

[2018-11-09 22:56] eeschiavo commented on #565
Sorry I didn’t understand. I’ll try for sure tomorrow and I will let you know! Thanks

[2018-11-10 21:11] meilers commented on #520
Having the same issue. This is the error I see in my logs:
`[TwitterKit] Error obtaining user auth token`

[2018-11-10 21:33] meilers commented on #520
This might help: https://twittercommunity.com/t/ios-twitter-login-error-code-415/107775

[2018-11-11 17:54] boxerboxer opened #566 "Problem with Facebook Login: Unsuccessful debug_token response from Facebook: - The App_id in the input_token did not match the Viewing App"
Swift
iOS 12.1
Using Firebase (5.12.0)
Using FirebaseAuth (5.0.5)
Using FirebaseAuthInterop (1.0.0)
Using FirebaseCore (5.1.7)
Using FirebaseUI (5.2.2)
Using FBSDKCoreKit (4.38.1)
Using FBSDKLoginKit (4.38.1)
cocoapods-1.5.3

I've followed these two guides carefully:

https://firebase.google.com/docs/auth/ios/firebaseui?authuser=1
and
https://github.com/firebase/FirebaseUI-iOS/blob/master/Firebase

[2018-11-11 18:04] boxerboxer commented on #566
Note that I'm not calling the default Auth UI because it looks for GoogleService-Info.plist whereas I have to plist files, one for Development and the other for Production. So, here's the code I use:

`let authUI = FUIAuth(uiWith: Firebase.auth())

        guard let _ = authUI else {

            return
        }
        authUI?.delegate = self

        let providers: [FUIAuthProvider] = [
//

[2018-11-12 17:51] morganchen12 commented on #566
The GitHub guide is more recent, but both should work. The one on the Firebase site just references a deprecated method.

Are you able to integrate Facebook manually? The debug token issue shouldn't be a FirebaseUI-specific issue.

[2018-11-13 22:40] radvansky-tomas commented on #520
I tried new version of FirebaseUI 5.2.2

I have configuration in app delegate:
[code]

I've set URL Scheme to:
`twitterkit-A54...`

On my view controller I've added twitter provider:
`providers.append(FUITwitterAuth())`

And yet after clicking to Firebase UI Twitter button got exception:
Selected Auth provider is not yet configured

Provider is enabled in console!

[2018-11-15 17:22] boxerboxer commented on #566
Thank you. The problem was with the wrong Facebook app id.

[2018-11-15 17:22] #566 closed

[2018-11-19 05:06] radvansky-tomas commented on #515
What about email + password ? Cant we support auto-fill there ?

[2018-11-19 12:41] navaranjithavelladurai commented on #350
Hi AutoPrefill
i received sms verification code on my mobile but i cannot assign 6 digit verification code to UITextfield as (Auto prefill) .

[2018-11-19 22:51] radvansky-tomas opened #569 "Email+Pass register CRASH"
https://github.com/firebase/firebase-ios-sdk/issues/2099

It worked fine couple of days ago

[2018-11-20 03:18] morganchen12 commented on #569
Tracking in the linked issue.

[2018-11-20 03:18] #569 closed

[2018-11-22 20:10] Izzyjm commented on #215
can we ignore the 'OTHER_LDFLAGS' warnings and "GCC_PREPROCESSOR_DEFINITIONS" ? my project runs find and im not sure what the warnings mean ??

[2018-11-27 09:07] iishabrawy commented on #558
Objective C or Swift: swift
iOS version: all
Firebase SDK version: all
FirebaseUI version: 5.2.2
CocoaPods Version: all

same here

and need to clarify that the device language in arabic or english translation shows like images attached

![issue1](https://user-images.githubusercontent.com/6254386/49070512-7f22ac00-f234-11e8-9cea-1e76ceab51e5.jpeg)

![issue](https://user-images.githubusercontent.co

[2018-11-28 02:37] prmichaelsen commented on #83
In my case, it was a mismatch of the secret I had pasted into Firebase and the actual secret. I am bumping this with that context. If you are encountering this, triple-check your app id and secrets.

[2018-11-30 08:16] av8ramit opened #574 "GIDSignInButton in Swift doesn't work"
Welcome to FirebaseUI and thanks for submitting an issue!

Please take a look at [open issues](https://github.com/firebase/FirebaseUI-iOS/issues?q=is%3Aopen+is%3Aissue), as well as [resolved issues](https://github.com/firebase/FirebaseUI-iOS/issues?q=is%3Aissue+is%3Aclosed), to see if your issue is either already being addressed, or has been solved by someone else.

If your issue concerns the Coco

[2018-11-30 21:08] morganchen12 commented on #574
Does pressing the button cause your app to crash?

[2018-12-03 06:18] GuiWill1 commented on #441
You must to create a View Class of type UIImage with your code for Rounded Image like the code below. then you need to select your image in storyboard and set the class of type ImageCircle.

import UIKit

class ImageCircle: UIImageView {

    override func awakeFromNib(){
        super.awakeFromNib()
        self.layer.cornerRadius = self.frame.width/2
        self.clipsToBounds = true

    }

}

[2018-12-03 13:01] iaaflaafc opened #575 "[Help] How to install FirebaseUI-iOS in an iOS app without using CocoaPods?"
### Step 2: Describe your environment

  * Objective C or Swift: Swift
  * iOS version: 12.0
  * Firebase SDK version: 5.13.0
  * FirebaseUI version: 5.2.2
  * CocoaPods Version: N/A

### Step 3: Describe the problem:

I would like to use this library in an iOS that I am making, that uses Carthage to manage dependencies.
Hence, I cannot use CocoaPods.

The README mentions the following the regardi

[2018-12-03 15:20] victor-sarda opened #576 "Auth.auth().currentUser is not updated after didSign is called"
### Describe your environment

  * Objective C or Swift: 4.1
  * iOS version: 12.0
  * Firebase SDK version: 5.12.0
  * FirebaseUI version: 5.2.2
  * CocoaPods Version: 1.5.0

### Describe the problem:

If I try to access Auth.auth().currentUser just after auth didSignIn delegate is called, the user object is still the old one for a few seconds. I was wondering if this was intented or not?

It is

[2018-12-03 19:34] morganchen12 commented on #574
Can you share your code or a reproducible example?

[2018-12-03 21:16] morganchen12 commented on #576
Is this the case for only FirebaseUI, or for Firebase Auth in general? It sounds like it may be an upstream Auth issue.

@renkelvin @Yue-Wang-Google

[2018-12-03 21:30] victor-sarda commented on #576
I'm only using FirebaseUI for Auth.
I just wonder what's the point of having this activity indicator on the login screen, it looks like it's never really waiting for anything 🤔

[2018-12-03 23:55] morganchen12 commented on #576
I see what you mean, this is intended behavior by both auth and FirebaseUI, though we haven't thought about changing it to match Android in this case yet. You're right that we shouldn't be using activity indicators for operations that aren't potentially long-lived. I'll take a look at changing this.

[2018-12-05 04:03] gabo86ms opened #577 "Unable to login with facebook app"
I configured the firebaseUI to log in with facebook and google. Everything works fine, except when chossing facebook,
It shows in an emmbeded view two options. One to log in with email and phone that works fine, and another to log in with app that does not do nothing
It switches to facebook app, then i click to login. Then it switches back to my app, dismisses the current view and does not retriev

[2018-12-05 18:48] morganchen12 commented on #577
Can you share your code for retrieving the user?

[2018-12-06 01:03] gabo86ms commented on #577
Of course

 func authUI(_ authUI: FUIAuth, didSignInWith authDataResult: AuthDataResult?, error: Error?) {

        if error == nil {
            if let user = authUI.auth?.currentUser {
                let uid = user.uid
                let email = user.email
                let provider = user.providerID

                DataService.instance.updateDBUser(withUID: uid, userData: ["email":email!,"

[2018-12-06 01:09] gabo86ms commented on #577
but the problem is that this isn't triggered when trying to log in with facebook app, but it does work when login with facebook (typing the user and password directly), and google

[2018-12-06 01:22] morganchen12 commented on #577
Sounds like #533, though slightly different. Are you using the auth view controller as the root of your app? Also, what version of FirebaseUI are you using?

[2018-12-06 01:35] gabo86ms commented on #577
FirebaseUI 5.2.2
yes auth view controller is called when user is not logged in, and when user logs in it is dismissed

[2018-12-10 02:37] AndriyGo opened #578 "Wrong FBSDK version fetched with pod install"
Here is a simple Podfile which I created for testing purposes on a clean project:

[code]

When I run `pod install` I see the following output:

[code]

As you can see, it fetches FBSDKCoreKit 4.39.0 even though in the FirebaseUI Podfile it states that the version should be 4.35.0.

I only noticed it now because 4.39.0 has a bug which broke the FB login functionality. However, I am also worried th

[2018-12-10 18:03] AndriyGo commented on #577
I think this issue is related to #578. FBSDK has broken login functionality in 4.39.0 version and, unfortunately, pod install fetches the latest version of their SDK instead of 4.35.0 as specified in Firebase Podfile.

[2018-12-10 22:20] mwawrusch commented on #578
Thanks for pointing this out - just wondering why I can't login anymore...

[2018-12-10 23:55] AndriyGo commented on #578
@mwawrusch yes, it is really frustrating. Especially the fact that the guys at FB still haven't submitted a new release which fixes the issue even though they already have a commit which addresses it in their repo! So, we are stuck with Firebase pod not processing correctly and fetching the latest version of FBSDK instead of 4.35.0 + FB not releasing an urgent patch :(

[2018-12-10 23:59] morganchen12 commented on #578
Sorry about this all. Restricting the dependency version of the Facebook SDK in our podspec is technically a breaking change, so we haven't done so yet. Our next change is a major version bump, though, so this fix will be released with 6.0.

[2018-12-11 00:07] AndriyGo commented on #578
@morganchen12 thanks for the update.

1) ```target 'FirebaseFacebookAuthUI' do
    inherit! :search_paths
    # Pods for Facebook Auth
    # These are pinned to 4.35.0 to work around this bug:
    # https://developers.facebook.com/support/bugs/242258916492125/?disable_redirect=0
    pod 'FBSDKLoginKit', '= 4.35.0'
    pod 'FBSDKCoreKit', '= 4.35.0'```

I thought this was included to restrict the v

[2018-12-11 00:12] morganchen12 commented on #578
It's in our Podfile so that this project doesn't break, but it's not in our Podspec so the change isn't propagated to projects depending on FirebaseUI. I'm aiming to release FirebaseUI 6 by the end of the month.

[2018-12-11 00:31] morganchen12 commented on #578
You can pin the version in your own Podfile by copy-pasting the same lines from the Podfile in this project.

[2018-12-11 18:32] morganchen12 commented on #561
b/119131361

[2018-12-12 01:59] gabo86ms commented on #577
thanks, but how can i solve this? , uninstalling the FBSDK and reinstalling 4.35 version? is it possible to do that?

[2018-12-12 17:49] morganchen12 commented on #577
Looks like the issue is only in 4.39.0, so using 4.38.0 will work fine. Take a look at this project's Podfile for an example of pinning the pod to a specific version.

[2018-12-14 18:10] AndriyGo commented on #578
@morganchen12 thank you for the suggestion, it works!

[2018-12-14 18:10] #578 closed

[2018-12-17 16:43] tndttan opened #579 "Cannot sign in using email authentication when using multiple providers"
### Step 2: Describe your environment

  * Objective C or Swift: Swift
  * iOS version: 11.4
  * Firebase SDK version: 5.14.0
  * FirebaseUI version: ba0f6d8
  * CocoaPods Version: 1.5.3

### Step 3: Describe the problem:

For accounts that have been linked with multiple providers that include email (password) authentication, it is not possible to log in using the email sign-in method.

#### Steps

[2018-12-18 17:38] morganchen12 commented on #262
@dmsl1805 are you using a provider with a display name?

[2018-12-19 07:50] dmsl1805 commented on #262
I try to get a name from either `Auth.auth().currentUser` or `user` instance inside `Auth.auth().addStateDidChangeListener` listener block.

Also I check `providerData` set from user and `displayName` in `FIRUserInfo` was also nil.

Here is and example of how I use it:
`
FUIAuth.defaultAuthUI()?.delegate = self
FUIAuth.defaultAuthUI()?.providers = [FUIGoogleAuth(), FUIFacebookAuth()]
let authSubsc

[2018-12-19 17:47] morganchen12 commented on #262
I see, that's a duplicate of #561.

[2018-12-20 22:49] delingren commented on #143
I was doing research on using Firebase auth and ran into this issue. It looks like it's an old issue. Has it not been resolved yet? Thanks.

[2018-12-21 06:47] Nilesh-Jha-14 opened #580 "Firebase Phone Number Validation not working properly"
When I am selecting India as Country code. The validation which is must is the phone number should be 10 digits. But when I am entering 4 digits its giving me proper error code phone number TOO SHORT. But when I enter 9 digits it allows me and take me to OTP screen. How to solve this problem?

[2018-12-21 12:20] dmsl1805 commented on #561
Hi guys. Thanks for responding in https://github.com/firebase/FirebaseUI-iOS/issues/262. Could you please tell the status of this? Any workarounds or versions where it is not reproduced available?

[2018-12-21 17:41] morganchen12 commented on #561
You can always merge the provider info manually after linking a provider. Fetch the user's display name and photo URL from the provider.